<!-- tooltip-->
<div class="ca-tooltipx">roll over for full quotes</div>
<app-navbar></app-navbar>

<section
  class="ftco-section ftco-counter"
  id="section-counter"
  style="background-image: url(../../../assets/images/stormzy-youth.jpg);"
  data-stellar-background-ratio="0.5"
>
  <div class="container">
    <div class="row d-md-flex align-items-center">
      <div class="col-lg-12">
        <div class="block-18 text-center">
          <div class="text">
            <h1 style="color:#fff; text-align: justify; font-weight:900;">
              Meet A Judge
            </h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section
  class="ftco-section ftco-no-pt ftco-no-pb"
  style="background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url('../../../assets/images/home_bg2.jpg'); background-size: cover;"
>
  <div class="container">
    <div class="row mb-2">
      <div class="col-md-12 pt-md-5 ftco-animate">
        <div class="card flex-md-row mb-4 box-shadow h-md-250 judgeCard">
          <div class="flip-box card-img-left flex-auto d-md-block">
            <div class="flip-box-inner">
              <div class="flip-box-front">
                <img
                  class="card-img-right flex-auto d-md-block"
                  src="../../../assets/images/Jonathan4.jpg"
                  alt="BLAC"
                  style="width:311px;height:311px"
                />
              </div>
              <div class="flip-box-back card-back">
                <h2>Jonathan Ogundegi</h2>
                <p>Director, Bridge The Gap Studios</p>
              </div>
            </div>
          </div>
          <div class="card-body d-flex flex-column align-items-start judges">
            <h3 class="mb-0">
              <a class="text-dark" href="#">Jonathan Ogundegi</a>
            </h3>
            <div class="mb-1 text-dark-sub">Director, Bridge The Gap Studios</div>
            <p class="card-text mb-auto">
                    Jonathan has always had a passion to help and support local youth in developing skills and encouraging expression, and has a wealth of experience in an eclectic range of areas.
            </p>
            <p class="card-text mb-auto">
                    Whilst working as a Mentor to kids with reading difficulties as a part of a school programme, and as a Tutor in Maths to kids from years 7-9, in 2008 Jonathan also completed a Level 1 Certificate in British Sign Language (BSL) and completed a coaching qualification in Basketball. These skills have helped him become an instrumental figure in different schemes and programmes in churches, youth clubs and schools.
            </p>
            <p class="card-text mb-auto">
                    Always active in drama/local theatre, Jonathan went on to lead and direct a local youth theatre production group in 2013 and has continued to help nurture talent, as well as develop leadership skills.
            </p>
            <p class="card-text mb-auto">
                    Bringing together his ability to lead, guide and direct young people in practical skills, alongside his passion for expressive arts, Jonathan helped form Bridge The Gap Studios with the aim to help the next generation find their identity through a creative outlet, and open their minds to allow themselves to learn in a more effective way.
            </p>
            <p class="card-text mb-auto">
                    Bridge The Gap programs also introduce music as a medium of expression and identifying life values. Alongside this, they run an acredited Bronze Arts Award for young people, in music creation and study and have also joined forces with SFSC (Strengthening Families, Strengthening Communities), to run an inclusive parent program. This supports parents in developing strong relationships and positive life skills that can enhance and greatly improve theirs and their child’s educational experience and future.
            </p>
            <h4 class="card-text mb-auto">
              <a href="https://bridgethegapstudios.com" target="_blank">bridgethegapstudios.com</a>
            </h4>
            <br/>
            <a
              href="/judges"
              class="btn btn-danger d-block px-2 py-3 ca-read-btn"
              >Back to the Judges</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section ftco-partner">
  <div class="container">
    <div class="row">
      <div class="col-sm ftco-animate">
        <a href="#" class="partner"
          ><img
            src="../../../assets/images/Alz-logo-A-2019-2.png"
            class="img-fluid"
            alt="BLAC SPONSOR"
        /></a>
      </div>
      <div class="col-sm ftco-animate">
        <a href="#" class="partner"
          ><img
            src="../../../assets/images/Mostly-2.png"
            class="img-fluid"
            alt="BLAC SPONSOR"
        /></a>
      </div>
      <div class="col-sm ftco-animate">
        <a href="#" class="partner"
          ><img
            src="../../../assets/images/jsclogo2_PNG-400x264.png"
            class="img-fluid"
            alt="BLAC SPONSOR"
        /></a>
      </div>
      <div class="col-sm ftco-animate">
        <a href="#" class="partner"
          ><img
            src="../../../assets/images/mayamada-logo-red-2.png"
            class="img-fluid"
            alt="BLAC SPONSOR"
        /></a>
      </div>
      <div class="col-sm ftco-animate">
        <a href="#" class="partner"
          ><img
            src="../../../assets/images/SL-Charitable-Trust.png"
            class="img-fluid"
            alt="BLAC SPONSOR"
        /></a>
      </div>
    </div>
    <div class="row">
      <div class="col-sm ftco-animate">
        <a href="#" class="partner"
          ><img
            src="../../../assets/images/VCP-logo-light-400x197.png"
            class="img-fluid"
            alt="BLAC SPONSOR"
        /></a>
      </div>
      <div class="col-sm ftco-animate">
        <a href="#" class="partner"
          ><img
            src="../../../assets/images/The-Voice-Logo-400x200.png"
            class="img-fluid"
            alt="BLAC SPONSOR"
        /></a>
      </div>
      <div class="col-sm ftco-animate">
        <a href="#" class="partner"
          ><img
            src="../../../assets/images/Gangsline_Logo_2.png"
            class="img-fluid"
            alt="BLAC SPONSOR"
        /></a>
      </div>
      <div class="col-sm ftco-animate">
        <a href="#" class="partner"
          ><img
            src="../../../assets/images/ca-logo-sponsor.png"
            class="img-fluid"
            alt="BLAC SPONSOR"
        /></a>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
<!-- loader -->
<div id="ftco-loader" class="show fullscreen">
  <svg class="circular" width="48px" height="48px">
    <circle
      class="path-bg"
      cx="24"
      cy="24"
      r="22"
      fill="none"
      stroke-width="4"
      stroke="#eeeeee"
    />
    <circle
      class="path"
      cx="24"
      cy="24"
      r="22"
      fill="none"
      stroke-width="4"
      stroke-miterlimit="10"
      stroke="#F96D00"
    />
  </svg>
</div>
