<!-- tooltip-->
<div class="ca-tooltipx">roll over for full quotes</div>
<app-navbar></app-navbar>

<section
  class="ftco-section ftco-counter"
  id="section-counter"
  style="background-image: url(../../../assets/images/stormzy-youth.jpg);"
  data-stellar-background-ratio="0.5"
>
  <div class="container">
    <div class="row d-md-flex align-items-center">
      <div class="col-lg-12">
        <div class="block-18 text-center">
          <div class="text">
            <h1 style="color:#fff; text-align: justify; font-weight:900;">
              Meet A Judge
            </h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section
  class="ftco-section ftco-no-pt ftco-no-pb"
  style="background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url('../../../assets/images/home_bg2.jpg'); background-size: cover;"
>
  <div class="container">
    <div class="row mb-2">
      <div class="col-md-12 pt-md-5 ftco-animate">
        <div class="card flex-md-row mb-4 box-shadow h-md-250 judgeCard">
          <div class="flip-box card-img-left flex-auto d-md-block">
            <div class="flip-box-inner">
              <div class="flip-box-front">
                <img
                  class="card-img-right flex-auto d-md-block"
                  src="../../../assets/images/neil-kenlock-311x311.jpg"
                  alt="BLAC"
                  style="width:311px;height:311px"
                />
              </div>
              <div class="flip-box-back card-back">
                <h2>Neil Kenlock</h2>
                <p>Co-founder of Choice FM Radio</p>
              </div>
            </div>
          </div>
          <div class="card-body d-flex flex-column align-items-start judges">
            <h3 class="mb-0">
              <a class="text-dark" href="#">Neil Kenlock</a>
            </h3>
            <div class="mb-1 text-dark-sub">Co-founder of Choice FM Radio</div>
            <p class="card-text mb-auto">
              Neil Kenlock is a Jamaican-born photographer and media
              professional who has lived in London, England, since the 1960s,
              and is acknowledged as being “at the forefront of documenting the
              black experience in the UK”. He was co-founder of Choice FM the
              first successful radio station granted a licence to cater for the
              black community in Britain. 
            </p>
            <p class="card-text mb-auto">
              As a youth in south London Neil
              captured in photographs the lives of the local community as well
              as becoming known for portraits taken on family occasions, his
              work as a whole coming to represent an exploration of many aspects
              of black British culture and history. 
            </p>
            <p class="card-text mb-auto">
              After working for
              photographic studios, in 1973 he became a staff photographer for
              West Indian World, one of the first national black British
              newspapers.In his first two decades as a professional photographer
              he specialised in fashion, beauty, celebrities and the cultural
              lifestyles of Black Britons. 
            </p>
            <p class="card-text mb-auto">
              Neil Kenlock 
              During the late 1960s
              and the 1970s he became involved with the British Black Panther
              movement, becoming the group’s official photographer and
              documenting anti-racist protests and demonstrations in the UK. 
            </p>
            <p class="card-text mb-auto">
              In 1979 Neil co-founded the pioneering Black lifestyle publication
              ‘Root Magazine’ – coined as the British Ebony only more connected
              to how people live in Britain -published until 1987. 
            </p>
            <p class="card-text mb-auto">
              Key figures
              and leaders in the black community feature in his photographic
              archive, including Olive Morris, Althea Le Cointe, Courtney Laws,
              Audley Baines, Darcus Howe and Lionel Morrison. Among
              international superstars whom Kenlock has photographed over the
              years are Marvin Gaye, Stevie Wonder, Eartha Kitt, Donald Quarrie,
              Eddy Grant, James Baldwin and Muhammad Ali, icons of reggae music
              such as Bob Marley, Peter Tosh, Jimmy Cliff. Desmond Dekker and
              John Holt, and political personalities including Diane Abbott,
              Michael Manley and Indira Gandhi. 
            </p>
            <p class="card-text mb-auto">
              In August 2018, in celebration
              of the 70th anniversary of the arrival of the Empire Windrush
              bringing one of the first large groups of post-war West Indian
              immigrants to the United Kingdom, the Black Cultural Archives
              (BCA) showed 70 of Kenlock’s photographs in the exhibition
              Expectations: The untold story of Black community leaders, curated
              by his daughter Emelia Kenlock, featuring such notable African and
              Caribbean subjects as Olive Morris, Darcus Howe, Arthur Wint, Lord
              David Pitt, Courtney Law and Steve Barnard. Funded by a grant from
              the Heritage Lottery Fund, the project “aims to give access to
              examples of black leadership, as well as archive material outside
              of the normal educational environment”.
            </p>
            <h4 class="card-text mb-auto">
              <a href="http://kenlockphotography.com/celebs-and-icons/">kenlockphotography.com</a>
            </h4>
            <br/>
            <a
              href="/judges"
              class="btn btn-danger d-block px-2 py-3 ca-read-btn"
              >Back to the Judges</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section ftco-partner">
  <div class="container">
    <div class="row">
      <div class="col-sm ftco-animate">
        <a href="#" class="partner"
          ><img
            src="../../../assets/images/Alz-logo-A-2019-2.png"
            class="img-fluid"
            alt="BLAC SPONSOR"
        /></a>
      </div>
      <div class="col-sm ftco-animate">
        <a href="#" class="partner"
          ><img
            src="../../../assets/images/Mostly-2.png"
            class="img-fluid"
            alt="BLAC SPONSOR"
        /></a>
      </div>
      <div class="col-sm ftco-animate">
        <a href="#" class="partner"
          ><img
            src="../../../assets/images/jsclogo2_PNG-400x264.png"
            class="img-fluid"
            alt="BLAC SPONSOR"
        /></a>
      </div>
      <div class="col-sm ftco-animate">
        <a href="#" class="partner"
          ><img
            src="../../../assets/images/mayamada-logo-red-2.png"
            class="img-fluid"
            alt="BLAC SPONSOR"
        /></a>
      </div>
      <div class="col-sm ftco-animate">
        <a href="#" class="partner"
          ><img
            src="../../../assets/images/SL-Charitable-Trust.png"
            class="img-fluid"
            alt="BLAC SPONSOR"
        /></a>
      </div>
    </div>
    <div class="row">
      <div class="col-sm ftco-animate">
        <a href="#" class="partner"
          ><img
            src="../../../assets/images/VCP-logo-light-400x197.png"
            class="img-fluid"
            alt="BLAC SPONSOR"
        /></a>
      </div>
      <div class="col-sm ftco-animate">
        <a href="#" class="partner"
          ><img
            src="../../../assets/images/The-Voice-Logo-400x200.png"
            class="img-fluid"
            alt="BLAC SPONSOR"
        /></a>
      </div>
      <div class="col-sm ftco-animate">
        <a href="#" class="partner"
          ><img
            src="../../../assets/images/Gangsline_Logo_2.png"
            class="img-fluid"
            alt="BLAC SPONSOR"
        /></a>
      </div>
      <div class="col-sm ftco-animate">
        <a href="#" class="partner"
          ><img
            src="../../../assets/images/ca-logo-sponsor.png"
            class="img-fluid"
            alt="BLAC SPONSOR"
        /></a>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
<!-- loader -->
<div id="ftco-loader" class="show fullscreen">
  <svg class="circular" width="48px" height="48px">
    <circle
      class="path-bg"
      cx="24"
      cy="24"
      r="22"
      fill="none"
      stroke-width="4"
      stroke="#eeeeee"
    />
    <circle
      class="path"
      cx="24"
      cy="24"
      r="22"
      fill="none"
      stroke-width="4"
      stroke-miterlimit="10"
      stroke="#F96D00"
    />
  </svg>
</div>
