<footer
  class="ftco-footer ftco-bg-dark ftco-section"
  style="background-image: url(../../../assets/images/footer_bg1.png); background-size: cover;"
>
  <div class="container">
    <div class="row mb-5 d-flex">
      <div class="col-md">
        <div class="ftco-footer-widget mb-4">
          <h2 class="ftco-heading-2">
            <a class="navbar-brand" href="/"
              ><img src="../../../assets/images/blac-logo-7.png"
            /></a>
          </h2>

          <ul
            class="ftco-footer-social list-unstyled float-md-left float-lft mt-3"
          >
            <li>
              <a href="#"><span class="icon-twitter"></span></a>
            </li>
            <li>
              <a href="#"><span class="icon-facebook"></span></a>
            </li>
            <li>
              <a href="#"><span class="icon-instagram"></span></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md">
        <div class="ftco-footer-widget mb-4 ml-md-4">
          <h2 class="ftco-heading-2">Usefull Links</h2>
          <ul class="list-unstyled">
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <!--
          <li><a href="#">Work</a></li>
          <li><a href="#">Pricing</a></li>
          <li><a href="#">Blog</a></li>
          --></ul>
        </div>
      </div>
      <div class="col-md">
        <div class="ftco-footer-widget mb-4">
          <h2 class="ftco-heading-2">Quick Links</h2>
          <ul class="list-unstyled">
            <li><a href="#">About Us</a></li>
            <!--
          <li><a href="#">Practice Areas</a></li>
          <li><a href="#">Appointment</a></li>
          -->
            <li><a href="#">Terms &amp; Conditions</a></li>
            <li><a href="#">FAQ</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md">
        <div class="ftco-footer-widget mb-4">
          <h2 class="ftco-heading-2">Have a Questions?</h2>
          <div class="block-23 mb-3">
            <ul>
              <li>
                <span class="icon icon-map-marker"></span
                ><span class="text">Registered address: 20-22 Wenlock Road, London N1 7GU</span>
              </li>
              <li>
                <a href="#"
                  ><span class="icon icon-phone"></span
                  ><span class="text">+44 (0)7487599924</span></a
                >
              </li>
              <li>
                <a href="#"
                  ><span class="icon icon-envelope"></span
                  ><span class="text">info@blac.org.uk</span></a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <p>
          Copyright &copy; 2019 All rights reserved | developed by
          <a href="https://conwayalphonso.com" target="_blank"
            ><img src="../../../assets/images/ca-logo.png" /> Conway Alphonso</a
          >
        </p>
      </div>
    </div>
  </div>
</footer>
