<app-navbar></app-navbar>
<section
  class="ftco-section ftco-counter"
  id="section-counter"
  style="background-image: url(../../../assets/images/stormzy-youth.jpg);"
  data-stellar-background-ratio="0.5"
>
  <div class="container">
    <div class="row d-md-flex align-items-center">
      <div class="col-lg-12">
        <div class="block-18 text-center">
          <div class="text">
            <h1 style="color:#fff; text-align: justify; font-weight:900;">
              Bright Lights Nominations
            </h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="ftco-section ftco-no-pt ftco-no-pb testimony-section" style="margin-top:50px">
  <div class="container">
    <div class="row no-gutters">
      <div
        class="col-md-5 p-md-5 img img-2 d-flex justify-content-center align-items-center order-md-last notmobile"
        style="background-image: url(../../../assets/images/black-kids.jpg); position: relative; right: -15px;"
      ></div>
      <div class="col-md-7 wrap-about pt-md-5 ftco-animate">
        <div class="pr-md-3 pr-lg-5 pl-md-5 mr-md-5 mb-5 blackfont">
          <h1 style="color:#fff; font-weight:900;">
            How to Nominate:
          </h1>
          <p class="mb-4">
            If you know of someone, an organisation who exhibits excellence,
            then please take this opportunity to tell us their brief story and
            have their work and efforts understood, appreciated and recognised
            by the wider community. The Bright Lights Nominations categories aim
            to cover all the areas and sectors of the grassroots BME community
            and given the breadth and diversity of our beautiful community, the
            categories which are offered are broad in the hope of capturing the
            many streams.
          </p>
          <p class="mb-4">
            The nomination is a simple process and you can nominate yourself, a
            company, an employee, an individual or anyone else whom you believe
            to be award-worthy by using the easy to use free online form at the
            foot of this page which only takes a few moments to complete. You
            are welcome to make as many different nominations from the various
            categories as you wish. Nominees will be shortlisted by our
            experienced judging panel and not by the number of votes each
            individual receives; this is considered a fair way of finding our
            real unsung heroes. Our judging panel will choose the final winners.
          </p>
          <p class="mb-4">
            Making a nomination couldn’t be easier! Please include your contact
            details and details of your nominee. All those who make the final
            shortlist will be announced on the website at a later date.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section
  class="ftco-section ftco-no-pt ftco-no-pb"
  style="color:#fff; background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3) ), url('../../../assets/images/footer_bg1.png'); background-size: cover;"
>
  <div class="container" style="padding: 20px 0; margin: 0; max-width: 95%;">
    <div class="row mb-2 justify-content-center align-items-center">
      <div class="col-md">
        <div class="nominateCard">
          <img
            src="https://www.blac.org.uk/wp-content/uploads/2019/02/Stars3-150x150.png"
            width="150"
            height="150"
            alt="Star Icon"
            title="Stars3"
          />
          <h3 style="font-size: 20px; color: rgb(217, 169, 67);">
            Outstanding Young Person
          </h3>
          <p>
            <span style="color: #ffffff;"
              >Awarded to a son, daughter, brother, sister or anyone under 18,
              who have demonstrated excellence in some way and made their family
              proud.</span
            >
          </p>
        </div>
      </div>
      <div class="col-md">
        <div class="nominateCard">
          <img
            src="https://www.blac.org.uk/wp-content/uploads/2019/02/Stars3-150x150.png"
            width="150"
            height="150"
            alt="Star Icon"
            title="Stars3"
          />
          <h3 style="font-size: 20px; color: rgb(217, 169, 67);">
            Overcoming Adversity
          </h3>
          <p>
            <span style="color: #ffffff;"
              >Awarded to an individual who has against all odds managed to
              overcome a personal, emotional or physical challenge and turned it
              into positivity.</span
            >
          </p>
        </div>
      </div>
      <div class="col-md">
        <div class="nominateCard">
          <img
            src="https://www.blac.org.uk/wp-content/uploads/2019/02/Stars3-150x150.png"
            width="150"
            height="150"
            alt="Star Icon"
            title="Stars3"
          />
          <h3 style="font-size: 20px; color: rgb(217, 169, 67);">
            Service To Volunteering
          </h3>
          <p>
            <span style="color: #ffffff;"
              >Awarded to a person or a group who give up their time for a good
              cause.</span
            >
          </p>
        </div>
      </div>
      <div class="col-md">
        <div class="nominateCard">
          <img
            src="https://www.blac.org.uk/wp-content/uploads/2019/02/Stars3-150x150.png"
            width="150"
            height="150"
            alt="Star Icon"
            title="Stars3"
          />
          <h3 style="font-size: 20px; color: rgb(217, 169, 67);">
            Outstanding Carer (over 18)
          </h3>
          <p>
            <span style="color: #ffffff;"
              >Awarded to an individual who cares for a person or roup of people
              on a regular basis</span
            >
          </p>
        </div>
      </div>
      <div class="col-md">
        <div class="nominateCard">
          <img
            src="https://www.blac.org.uk/wp-content/uploads/2019/02/Stars3-150x150.png"
            width="150"
            height="150"
            alt="Star Icon"
            title="Stars3"
          />
          <h3 style="font-size: 20px; color: rgb(217, 169, 67);">
            Best Neighbour
          </h3>
          <p>
            <span style="color: #ffffff;"
              >Awarded to an individual who helps make the neighbourhood a
              better place to live or work</span
            >
          </p>
        </div>
      </div>
      <div class="col-md">
        <div class="nominateCard">
          <img
            src="https://www.blac.org.uk/wp-content/uploads/2019/02/Stars3-150x150.png"
            width="150"
            height="150"
            alt="Star Icon"
            title="Stars3"
          />
          <h3 style="font-size: 20px; color: rgb(217, 169, 67);">
            Best Parent / Grandparent
          </h3>
          <p>
            <span style="color: #ffffff;"
              >Awarded to a parent or grandparent who is or has been an
              outstanding role-model in someone's life</span
            >
          </p>
        </div>
      </div>
      <div class="col-md">
        <div class="nominateCard">
          <img
            src="https://www.blac.org.uk/wp-content/uploads/2019/02/Stars3-150x150.png"
            width="150"
            height="150"
            alt="Star Icon"
            title="Stars3"
          />
          <h3 style="font-size: 20px; color: rgb(217, 169, 67);">
            Youth / Sport Mentoring
          </h3>
          <p>
            <span style="color: #ffffff;"
              >Awarded to an individual or group who work with disadvantaged or
              vulnerable youths</span
            >
          </p>
        </div>
      </div>
      <div class="col-md">
        <div class="nominateCard">
          <img
            src="https://www.blac.org.uk/wp-content/uploads/2019/02/Stars3-150x150.png"
            width="150"
            height="150"
            alt="Star Icon"
            title="Stars3"
          />
          <h3 style="font-size: 20px; color: rgb(217, 169, 67);">
            Services to Campaigning
          </h3>
          <p>
            <span style="color: #ffffff;"
              >Awarded to an individual or group who have gone above and beyond
              to raise awareness of a cause</span
            >
          </p>
        </div>
      </div>
      <div class="col-md">
        <div class="nominateCard">
          <img
            src="https://www.blac.org.uk/wp-content/uploads/2019/02/Stars3-150x150.png"
            width="150"
            height="150"
            alt="Star Icon"
            title="Stars3"
          />
          <h3 style="font-size: 20px; color: rgb(217, 169, 67);">
            Best stand-out Restaurant / Takeaway
          </h3>
          <p>
            <span style="color: #ffffff;"
              >Awarded to the best restaurant/takeaway food business providing
              contiuously delicious meals and drinks</span
            >
          </p>
        </div>
      </div>
      <div class="col-md">
        <div class="nominateCard">
          <img
            src="https://www.blac.org.uk/wp-content/uploads/2019/02/Stars3-150x150.png"
            width="150"
            height="150"
            alt="Star Icon"
            title="Stars3"
          />
          <h3 style="font-size: 20px; color: rgb(217, 169, 67);">
            Best General Business
          </h3>
          <p>
            <span style="color: #ffffff;"
              >Awarded to the best general business who supplpy products and
              servies on an ongoing basis.</span
            >
          </p>
        </div>
      </div>
      <div class="col-md">
        <div class="nominateCard">
          <img
            src="https://www.blac.org.uk/wp-content/uploads/2019/02/Stars3-150x150.png"
            width="150"
            height="150"
            alt="Star Icon"
            title="Stars3"
          />
          <h3 style="font-size: 20px; color: rgb(217, 169, 67);">
            Best Journalist
          </h3>
          <p>
            <span style="color: #ffffff;"
              >Awarded to the best journalist who writes or reports for out news
              publications online or on TV.</span
            >
          </p>
        </div>
      </div>
      <div class="col-md">
        <div class="nominateCard">
          <img
            src="https://www.blac.org.uk/wp-content/uploads/2019/02/Stars3-150x150.png"
            width="150"
            height="150"
            alt="Star Icon"
            title="Stars3"
          />
          <h3 style="font-size: 20px; color: rgb(217, 169, 67);">
            Best Writer
          </h3>
          <p>
            <span style="color: #ffffff;"
              >Awarded to the best screenwriter, scriptwriter, poet or aithor
              who dedicates their flair to entertaining, inspiring or
              educating.</span
            >
          </p>
        </div>
      </div>
      <div class="col-md">
        <div class="nominateCard">
          <img
            src="https://www.blac.org.uk/wp-content/uploads/2019/02/Stars3-150x150.png"
            width="150"
            height="150"
            alt="Star Icon"
            title="Stars3"
          />
          <h3 style="font-size: 20px; color: rgb(217, 169, 67);">
            Best Barber Shop
          </h3>
          <p>
            <span style="color: #ffffff;"
              >Awarded to those who not only supply a great service but are a
              pinnacle of positivity to the local area.</span
            >
          </p>
        </div>
      </div>
      <div class="col-md">
        <div class="nominateCard">
          <img
            src="https://www.blac.org.uk/wp-content/uploads/2019/02/Stars3-150x150.png"
            width="150"
            height="150"
            alt="Star Icon"
            title="Stars3"
          />
          <h3 style="font-size: 20px; color: rgb(217, 169, 67);">
            Best Hairdressing Salon
          </h3>
          <p>
            <span style="color: #ffffff;"
              >Awarded to those who not only supply a great service but are a
              pinnacle of positivity to the local area.</span
            >
          </p>
        </div>
      </div>
      <div class="col-md">
        <div class="nominateCard">
          <img
            src="https://www.blac.org.uk/wp-content/uploads/2019/02/Stars3-150x150.png"
            width="150"
            height="150"
            alt="Star Icon"
            title="Stars3"
          />
          <h3 style="font-size: 20px; color: rgb(217, 169, 67);">
            Best Stage-show Promoter
          </h3>
          <p>
            <span style="color: #ffffff;"
              >Awarded for the best venue / open-air event oraniser.</span
            >
          </p>
        </div>
      </div>
      <div class="col-md">
        <div class="nominateCard">
          <img
            src="https://www.blac.org.uk/wp-content/uploads/2019/02/Stars3-150x150.png"
            width="150"
            height="150"
            alt="Star Icon"
            title="Stars3"
          />
          <h3 style="font-size: 20px; color: rgb(217, 169, 67);">
            Best Nite club
          </h3>
          <p>
            <span style="color: #ffffff;"
              >Awarded for years of consistent entertainment within the
              nightlife industry.</span
            >
          </p>
        </div>
      </div>
      <div class="col-md">
        <div class="nominateCard">
          <img
            src="https://www.blac.org.uk/wp-content/uploads/2019/02/Stars3-150x150.png"
            width="150"
            height="150"
            alt="Star Icon"
            title="Stars3"
          />
          <h3 style="font-size: 20px; color: rgb(217, 169, 67);">
            Best Comedian
          </h3>
          <p>
            <span style="color: #ffffff;"
              >Awarded for the best light entertainer and/or compere.</span
            >
          </p>
        </div>
      </div>
      <div class="col-md">
        <div class="nominateCard">
          <img
            src="https://www.blac.org.uk/wp-content/uploads/2019/02/Stars3-150x150.png"
            width="150"
            height="150"
            alt="Star Icon"
            title="Stars3"
          />
          <h3 style="font-size: 20px; color: rgb(217, 169, 67);">
            Best Sound System
          </h3>
          <p>
            <span style="color: #ffffff;"
              >Awarded for being a pivitol aspect in the global culture of
              reggae history.</span
            >
          </p>
        </div>
      </div>
      <div class="col-md">
        <div class="nominateCard">
          <img
            src="https://www.blac.org.uk/wp-content/uploads/2019/02/Stars3-150x150.png"
            width="150"
            height="150"
            alt="Star Icon"
            title="Stars3"
          />
          <h3 style="font-size: 20px; color: rgb(217, 169, 67);">
            Best Radio Station
          </h3>
          <p>
            <span style="color: #ffffff;"
              >Awarded for the consistent stream of music, information and/or
              lively discussions over the years.</span
            >
          </p>
        </div>
      </div>
      <div class="col-md">
        <div class="nominateCard">
          <img
            src="https://www.blac.org.uk/wp-content/uploads/2019/02/Stars3-150x150.png"
            width="150"
            height="150"
            alt="Star Icon"
            title="Stars3"
          />
          <h3 style="font-size: 20px; color: rgb(217, 169, 67);">
            Services to Education
          </h3>
          <p>
            <span style="color: #ffffff;"
              >Awarded to an individual who has used their abilities and flair
              to educate the youths and young adults.</span
            >
          </p>
        </div>
      </div>
      <div class="col-md">
        <div class="nominateCard">
          <img
            src="https://www.blac.org.uk/wp-content/uploads/2019/02/Stars3-150x150.png"
            width="150"
            height="150"
            alt="Star Icon"
            title="Stars3"
          />
          <h3 style="font-size: 20px; color: rgb(217, 169, 67);">
            Best Radio Presenter / DJ
          </h3>
          <p>
            <span style="color: #ffffff;"
              >Awarded to an individual who has kept us entertained and educated
              with music and/or discussions over the years.</span
            >
          </p>
        </div>
      </div>
      <div class="col-md">
        <div class="nominateCard">
          <img
            src="https://www.blac.org.uk/wp-content/uploads/2019/02/Stars3-150x150.png"
            width="150"
            height="150"
            alt="Star Icon"
            title="Stars3"
          />
          <h3 style="font-size: 20px; color: rgb(217, 169, 67);">
            Best Network TV
          </h3>
          <p>
            <span style="color: #ffffff;"
              >Awarded to the best network within the TV news, entertainment and
              information industry.</span
            >
          </p>
        </div>
      </div>
      <div class="col-md">
        <div class="nominateCard">
          <img
            src="https://www.blac.org.uk/wp-content/uploads/2019/02/Stars3-150x150.png"
            width="150"
            height="150"
            alt="Star Icon"
            title="Stars3"
          />
          <h3 style="font-size: 20px; color: rgb(217, 169, 67);">
            Best Online Media
          </h3>
          <p>
            <span style="color: #ffffff;"
              >Awarded to the best online news media for information,
              entertainment, busienss and educational matters.</span
            >
          </p>
        </div>
      </div>
      <div class="col-md">
        <div class="nominateCard">
          <img
            src="https://www.blac.org.uk/wp-content/uploads/2019/02/Stars3-150x150.png"
            width="150"
            height="150"
            alt="Star Icon"
            title="Stars3"
          />
          <h3 style="font-size: 20px; color: rgb(217, 169, 67);">
            Best Record Shop
          </h3>
          <p>
            <span style="color: #ffffff;"
              >Awarded to those who have continued to supply the industries over
              the many years against all odds.</span
            >
          </p>
        </div>
      </div>
      <div class="col-md">
        <div class="nominateCard">
          <img
            src="https://www.blac.org.uk/wp-content/uploads/2019/02/Stars3-150x150.png"
            width="150"
            height="150"
            alt="Star Icon"
            title="Stars3"
          />
          <h3 style="font-size: 20px; color: rgb(217, 169, 67);">
            Best Recording Studio
          </h3>
          <p>
            <span style="color: #ffffff;"
              >Awarded to those in the industry who work hard at inspiring our
              youths with constructive musical aims and ambitions.</span
            >
          </p>
        </div>
      </div>
      <div class="col-md"></div>
      <div class="col-md"></div>
    </div>
  </div>
</section>

<section
  class="ftco-section contact-section"
  style="background-image: url(../../../assets/images/home_bg2.jpg); background-size: cover;"
>
  <div class="container">
    <div class="row block-9">
      <div class="col-md-12 pr-md-5">
        <h1
          style="color:#fff; text-align: justify; font-weight:900;color:#000;"
        >
          Nomination Form:
        </h1>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-4">
              <div class="form-group">
                <input
                  type="text"
                  class="form-control"
                  placeholder="First Name"
                  formControlName="name"
                />
              </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
              <div class="form-group">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Last Name"
                  formControlName="lastname"
                />
              </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
              <div class="form-group">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Your Number"
                  formControlName="phone"
                />
              </div>
            </div>
          
            <div class="col-sm-12 col-md-6 col-lg-4">
              <div class="form-group">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Town/City"
                  formControlName="location"
                />
              </div>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-4">
              <div class="form-group">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Full name of Chosen Nominee"
                  formControlName="nominee"
                />
              </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="form-group">
                  <select
                    class="ca-select"
                    aria-required="true"
                    aria-invalid="false"
                    formControlName="category"
                    ><option value="" selected="selected" class="gf_placeholder"
                      >Select Category</option
                    ><option value="Young Achiever">Young Achiever</option
                    ><option value="Overcoming Adversity"
                      >Overcoming Adversity</option
                    ><option value="Services to Volunteering"
                      >Services to Volunteering</option
                    ><option value="Outstanding Carer (over 18)"
                      >Outstanding Carer (over 18)</option
                    ><option value="Community Entrepreneur"
                      >Community Entrepreneur</option
                    ><option value="Outstanding Young Carer (under 18)"
                      >Outstanding Young Carer (under 18)</option
                    ><option value="Best Neighbour">Best Neighbour</option
                    ><option value="Best Parent/Grandparent"
                      >Best Parent/Grandparent</option
                    ><option value="Youth/Sport Mentoring"
                      >Youth/Sport Mentoring</option
                    ><option value="Services to Campaining"
                      >Services to Campaining</option
                    ><option value="Best Stand-out Restaurant/Takeaway"
                      >Best Stand-out Restaurant/Takeaway</option
                    ><option value="Best General Business"
                      >Best General Business</option
                    ><option value="Best Journalist">Best Journalist</option
                    ><option value="Best Writer">Best Writer</option
                    ><option value="Best Barber Shop">Best Barber Shop</option
                    ><option value="Best Hairdressing Salon"
                      >Best Hairdressing Salon</option
                    ><option value="Best Stage-show Promoter"
                      >Best Stage-show Promoter</option
                    ><option value="Best Nite Club/Bar">Best Nite Club/Bar</option
                    ><option value="Best Comedian">Best Comedian</option
                    ><option value="Best Sound System">Best Sound System</option
                    ><option value="Best Radio Station">Best Radio Station</option
                    ><option value="Best Radio DJ/Presenter"
                      >Best Radio DJ/Presenter</option
                    ><option value="Services to Education"
                      >Services to Education</option
                    ><option value="Best Network TV">Best Network TV</option
                    ><option value="Best Online Media">Best Online Media</option
                    ><option value="Best Record Shop">Best Record Shop</option
                    ><option value="Best Recording Studio"
                      >Best Recording Studio</option
                    ></select
                  >
                </div>
              </div>
          </div>
          <div class="form-group">
            <textarea
              name=""
              id=""
              cols="30"
              rows="7"
              class="form-control"
              placeholder="Why do they deserve this Award?"
              formControlName="pitch"
            ></textarea>
          </div>
          <div class="form-group">
            <label for="heardfrom">How did you hear about this event?</label
            ><br />
            <div class="form-check-inline">
              <label class="form-check-label" for="radio1">
                <input
                  type="radio"
                  class="form-check-input"
                  name="from"
                  value="BLAC Website"
                  formControlName="from"
                  checked
                />BLAC Website
              </label>
            </div>
            <div class="form-check-inline">
              <label class="form-check-label" for="radio2">
                <input
                  type="radio"
                  class="form-check-input"
                  name="from"
                  value="Word of mouth"
                  formControlName="from"
                />Word of mouth
              </label>
            </div>
            <div class="form-check-inline">
              <label class="form-check-label" for="radio2">
                <input
                  type="radio"
                  class="form-check-input"
                  name="from"
                  value="Social media"
                  formControlName="from"
                />Social media
              </label>
            </div>
            <div class="form-check-inline">
              <label class="form-check-label" for="radio2">
                <input
                  type="radio"
                  class="form-check-input"
                  name="from"
                  formControlName="from"
                  value="Poster"
                />Poster
              </label>
            </div>
            <div class="form-check-inline">
              <label class="form-check-label" for="radio2">
                <input
                  type="radio"
                  class="form-check-input"
                  name="from"
                  formControlName="from"
                  value="Radio"
                />Radio
              </label>
            </div>
          </div>

          <div class="row">
              <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="form-group">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Your Email"
                    formControlName="email"
                  />
                </div>
              </div>
              <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="form-group">
                  <input
                    type="password"
                    class="form-control"
                    placeholder="Password"
                    formControlName="password"
                  />
                </div>
              </div>
            </div>


          <div class="form-group">
            <input
              type="submit"
              value="Send Nomination"
              class="btn btn-primary py-3 px-5"
            />
          </div>
          <div (click)="signout()">sign out</div>
        </form>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section ftco-partner">
  <div class="container">
    <div class="row">
      <div class="col-sm ftco-animate">
        <a href="#" class="partner"
          ><img
            src="../../../assets/images/Alz-logo-A-2019-2.png"
            class="img-fluid"
            alt="BLAC SPONSOR"
        /></a>
      </div>
      <div class="col-sm ftco-animate">
        <a href="#" class="partner"
          ><img
            src="../../../assets/images/Mostly-2.png"
            class="img-fluid"
            alt="BLAC SPONSOR"
        /></a>
      </div>
      <div class="col-sm ftco-animate">
        <a href="#" class="partner"
          ><img
            src="../../../assets/images/jsclogo2_PNG-400x264.png"
            class="img-fluid"
            alt="BLAC SPONSOR"
        /></a>
      </div>
      <div class="col-sm ftco-animate">
        <a href="#" class="partner"
          ><img
            src="../../../assets/images/mayamada-logo-red-2.png"
            class="img-fluid"
            alt="BLAC SPONSOR"
        /></a>
      </div>
      <div class="col-sm ftco-animate">
        <a href="#" class="partner"
          ><img
            src="../../../assets/images/SL-Charitable-Trust.png"
            class="img-fluid"
            alt="BLAC SPONSOR"
        /></a>
      </div>
    </div>
    <div class="row">
      <div class="col-sm ftco-animate">
        <a href="#" class="partner"
          ><img
            src="../../../assets/images/VCP-logo-light-400x197.png"
            class="img-fluid"
            alt="BLAC SPONSOR"
        /></a>
      </div>
      <div class="col-sm ftco-animate">
        <a href="#" class="partner"
          ><img
            src="../../../assets/images/The-Voice-Logo-400x200.png"
            class="img-fluid"
            alt="BLAC SPONSOR"
        /></a>
      </div>
      <div class="col-sm ftco-animate">
        <a href="#" class="partner"
          ><img
            src="../../../assets/images/Gangsline_Logo_2.png"
            class="img-fluid"
            alt="BLAC SPONSOR"
        /></a>
      </div>
      <div class="col-sm ftco-animate">
        <a href="#" class="partner"
          ><img
            src="../../../assets/images/ca-logo-sponsor.png"
            class="img-fluid"
            alt="BLAC SPONSOR"
        /></a>
      </div>
    </div>
  </div>
</section>
<jw-modal id="login">
  <div>
    <form [formGroup]="registerform" (ngSubmit)="onSubmit2()">
      <div class="row justify-content-center pb-3">
        <div class="col-12">
          <img src="../../../assets/images/blac-logo-77.png" height="54" />
        </div>
        <div class="col-12">
          <h1>Wrong Password</h1>
        </div>
      </div>
      <div class="row">
        <!--
        <div class="col">
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              placeholder="First Name"
              formControlName="username"
            />
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              placeholder="Last Name"
              formControlName="lastname"
            />
          </div>
        </div>
        -->
      </div>
      <div class="row">
        <div class="col">
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              placeholder="Your Email"
              formControlName="email"
            />
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <input
              type="password"
              class="form-control"
              placeholder="Password"
              formControlName="password"
            />
          </div>
        </div>
      </div>
      <div class="form-group">
        <input
          type="submit"
          value="Nominate"
          class="btn btn-primary py-3 px-5"
        />
        
      </div>
      <div>
        *forgotten password?
      </div>
    </form>
  </div>
</jw-modal>
<app-footer></app-footer>
<ngx-snackbar [position]="'bottom-center'" [max]="3"></ngx-snackbar>
<!-- loader -->
<div id="ftco-loader" class="show fullscreen">
  <svg class="circular" width="48px" height="48px">
    <circle
      class="path-bg"
      cx="24"
      cy="24"
      r="22"
      fill="none"
      stroke-width="4"
      stroke="#eeeeee"
    />
    <circle
      class="path"
      cx="24"
      cy="24"
      r="22"
      fill="none"
      stroke-width="4"
      stroke-miterlimit="10"
      stroke="#F96D00"
    />
  </svg>
</div>
