<nav
  class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light"
  id="ftco-navbar"
>
  <div class="container">
    <a class="navbar-brand" href="/"
      ><img class="blac" src="../../../assets/images/blac-logo-77.png" height="70"
    /></a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#ftco-nav"
      aria-controls="ftco-nav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="oi oi-menu"></span> Menu
    </button>

    <div class="collapse navbar-collapse" id="ftco-nav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            routerLink="/"
            href="/"
            class="nav-link"
            >Home</a
          >
        </li>

        <li class="nav-item dropdown" routerLinkActive="active">
          <a href="/about-us" routerLinkActive="active" class="nav-link dropbtn notmobile"
            >About Us</a
          >
          <a routerLinkActive="active" class="nav-link dropbtn mobile"
            >About Us</a
          >
          <div class="dropdown-content" routerLinkActive="active">
            <a
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              routerLink="/about-us"
              href="/about-us"
              >About Us</a
            >
            <a
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              routerLink="/judges"
              href="/judges"
              >Meet the Judges</a
            >
          </div>
        </li>
        <li class="nav-item">
          <a
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            routerLink="/videos"
            href="/videos"
            class="nav-link"
            >Videos</a
          >
        </li>
        <li class="nav-item dropdown" routerLinkActive="active">
          <a routerLinkActive="active" class="nav-link dropbtn mobile"
            >Information</a
          >
          <a href="/information" routerLinkActive="active" class="nav-link dropbtn notmobile"
            >Information</a
          >
          <div class="dropdown-content" routerLinkActive="active">
            <a
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              routerLink="/information"
              href="/information"
              >Information</a
            >
            <a
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              routerLink="/nominations"
              href="/nominations"
              >Nominations</a
            >
            <a
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              routerLink="/honoursofdistinction"
              href="/honoursofdistinction"
              >Honours of Distinction</a
            >
          </div>
        </li>
        <li class="nav-item">
          <a
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            routerLink="/tickets"
            href="/tickets"
            class="nav-link"
            >Tickets</a
          >
        </li>
        <li class="nav-item">
          <a
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            routerLink="/contact"
            href="/contact"
            class="nav-link"
            >Contact</a
          >
        </li>
        <li class="nav-item">
          <a
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            routerLink="/donate"
            href="/donate"
            class="nav-link"
            >Donate</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
