<!-- tooltip-->
<div class="ca-tooltipx">roll over for full quotes</div>
<app-navbar></app-navbar>

<section
  class="ftco-section ftco-counter"
  id="section-counter"
  style="background-image: url(../../../assets/images/stormzy-youth.jpg);"
  data-stellar-background-ratio="0.5"
>
  <div class="container">
    <div class="row d-md-flex align-items-center">
      <div class="col-lg-12">
        <div class="block-18 text-center">
          <div class="text">
            <h1 style="color:#fff; text-align: justify; font-weight:900;">
              Meet A Judge
            </h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section
  class="ftco-section ftco-no-pt ftco-no-pb"
  style="background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url('../../../assets/images/home_bg2.jpg'); background-size: cover;"
>
  <div class="container">
    <div class="row mb-2">
      <div class="col-md-12 pt-md-5 ftco-animate">
        <div class="card flex-md-row mb-4 box-shadow h-md-250 judgeCard">
          <div class="flip-box card-img-left flex-auto d-md-block">
            <div class="flip-box-inner">
              <div class="flip-box-front">
                <img
                  class="card-img-right flex-auto d-md-block"
                  src="../../../assets/images/huey-311x311.jpg"
                  alt="BLAC"
                  style="width:311px;height:311px"
                />
              </div>
              <div class="flip-box-back card-back">
                    <h2>Huey Vanderpuije</h2>
                    <p>Captain of Dwaynamics Boxing Gym</p>
              </div>
            </div>
          </div>
          <div class="card-body d-flex flex-column align-items-start judges">
            <h3 class="mb-0">
              <a class="text-dark" href="#">Huey Vanderpuije</a>
            </h3>
            <div class="mb-1 text-dark-sub">Captain of Dwaynamics Boxing Gym</div>
            <p class="card-text mb-auto">
                    Huey has been very much the heart of the Dwayne Simpson Foundation, Dwaynamics ABC (Association of Boxing Commissions) as he was a childhood friend of Dwayne Simpson before he was tragically killed through knife crime.
            </p>
            <p class="card-text mb-auto">
                    Huey is a university graduate and a community champion in the heart of Angel Town Estate in south London, an estate which was highlighted as part of a week-long report into notorious estates in South London by David Chohen of the Evening Standard called ‘The Estate We’re In’ and was longlisted for the Orwell Prize for Exposing Britain’s Social Evils. The report comprised of campaigns editor David Cohen and photographers Matt Writtle and Kiran Mensah, who have been recognised for their work after spending months on the Angell Town estate in Brixton. The Orwell Prize is Britain’s most prestigious award for political reporting.
            </p>
            <p class="card-text mb-auto">
                    The services offered at Dwaynamics are designed to steer at-risk youth away from gang-culture, knife crime and gun violence, and encourage them to see that there is a future. In 2013 Dwayne Simpson was given the funding to start a community boxing club in Angell Town, Brixton. At this time Dwaynamics was in a tiny hall on the Angell Town estate but despite these challenges Dwayne got over 50 kids to come down each week, getting them off the streets and kept them focused out of gangs and away from knife crime. Before Dwayne’s 21st birthday he went to his mum and said he didn’t think he would make his 21st birthday. He said the streets were so bad and he didn’t know what to do.
            </p>
            <p class="card-text mb-auto">
                    Tragically Dwayne didn’t reach his 21st birthday however his legacy lives on in Dwaynamics. Following his death, his mother registered the boxing group as a Community Interest Company (CIC), encouraging larger numbers of children to attend boxing classes twice a week, free of charge and expanded the programmes to offer free education and life-skill support. The skills that the children learn at boxing encourage them to commit to something outside of their school from a young age. This learnt behaviour is imperative to the growth of these children to ensure that they stay dedicated to studies, work and to avoid the temptations of gang culture. The boxing coaches are mentors, teachers and friends of each of these children ensuring that they instil a work ethic in each individual before they can graduate from the boxing course.
            </p>
            <p class="card-text mb-auto">
                    The club made Huey a club captain because of his passion and continuity to help other young people and his willingness to share what they call ‘LHAP’ – Love Hope And Progression.
            </p>
            <p class="card-text mb-auto">
                    Huey is a young man who brings valuable knowledge and leadership to other people in and out of the Dwaynamics Gym. His motto in life is straight forward, “work hard, make life easier”, and he is a valuable asset not only to Dwaynamics but also to the mother of Dwayne Simpson, Pastor Lorraine Jones who is the CEO of Dwaynamics Gym.
            </p>
            <p class="card-text mb-auto">
              In August 2018, in celebration
              of the 70th anniversary of the arrival of the Empire Windrush
              bringing one of the first large groups of post-war West Indian
              immigrants to the United Kingdom, the Black Cultural Archives
              (BCA) showed 70 of Kenlock’s photographs in the exhibition
              Expectations: The untold story of Black community leaders, curated
              by his daughter Emelia Kenlock, featuring such notable African and
              Caribbean subjects as Olive Morris, Darcus Howe, Arthur Wint, Lord
              David Pitt, Courtney Law and Steve Barnard. Funded by a grant from
              the Heritage Lottery Fund, the project “aims to give access to
              examples of black leadership, as well as archive material outside
              of the normal educational environment”.
            </p>
            <h4 class="card-text mb-auto">
              <a href="https://www.dsfcic.co.uk/about">www.dsfcic.co.uk/about</a>
            </h4>
            <br/>
            <a
              href="/judges"
              class="btn btn-danger d-block px-2 py-3 ca-read-btn"
              >Back to the Judges</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section ftco-partner">
  <div class="container">
    <div class="row">
      <div class="col-sm ftco-animate">
        <a href="#" class="partner"
          ><img
            src="../../../assets/images/Alz-logo-A-2019-2.png"
            class="img-fluid"
            alt="BLAC SPONSOR"
        /></a>
      </div>
      <div class="col-sm ftco-animate">
        <a href="#" class="partner"
          ><img
            src="../../../assets/images/Mostly-2.png"
            class="img-fluid"
            alt="BLAC SPONSOR"
        /></a>
      </div>
      <div class="col-sm ftco-animate">
        <a href="#" class="partner"
          ><img
            src="../../../assets/images/jsclogo2_PNG-400x264.png"
            class="img-fluid"
            alt="BLAC SPONSOR"
        /></a>
      </div>
      <div class="col-sm ftco-animate">
        <a href="#" class="partner"
          ><img
            src="../../../assets/images/mayamada-logo-red-2.png"
            class="img-fluid"
            alt="BLAC SPONSOR"
        /></a>
      </div>
      <div class="col-sm ftco-animate">
        <a href="#" class="partner"
          ><img
            src="../../../assets/images/SL-Charitable-Trust.png"
            class="img-fluid"
            alt="BLAC SPONSOR"
        /></a>
      </div>
    </div>
    <div class="row">
      <div class="col-sm ftco-animate">
        <a href="#" class="partner"
          ><img
            src="../../../assets/images/VCP-logo-light-400x197.png"
            class="img-fluid"
            alt="BLAC SPONSOR"
        /></a>
      </div>
      <div class="col-sm ftco-animate">
        <a href="#" class="partner"
          ><img
            src="../../../assets/images/The-Voice-Logo-400x200.png"
            class="img-fluid"
            alt="BLAC SPONSOR"
        /></a>
      </div>
      <div class="col-sm ftco-animate">
        <a href="#" class="partner"
          ><img
            src="../../../assets/images/Gangsline_Logo_2.png"
            class="img-fluid"
            alt="BLAC SPONSOR"
        /></a>
      </div>
      <div class="col-sm ftco-animate">
        <a href="#" class="partner"
          ><img
            src="../../../assets/images/ca-logo-sponsor.png"
            class="img-fluid"
            alt="BLAC SPONSOR"
        /></a>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>

<!-- loader -->
<div id="ftco-loader" class="show fullscreen">
  <svg class="circular" width="48px" height="48px">
    <circle
      class="path-bg"
      cx="24"
      cy="24"
      r="22"
      fill="none"
      stroke-width="4"
      stroke="#eeeeee"
    />
    <circle
      class="path"
      cx="24"
      cy="24"
      r="22"
      fill="none"
      stroke-width="4"
      stroke-miterlimit="10"
      stroke="#F96D00"
    />
  </svg>
</div>

