<!-- tooltip-->
<div class="ca-tooltipx">roll over for full quotes</div>
<app-navbar></app-navbar>

<section
  class="ftco-section ftco-counter"
  id="section-counter"
  style="background-image: url(../../../assets/images/stormzy-youth.jpg);"
  data-stellar-background-ratio="0.5"
>
  <div class="container">
    <div class="row d-md-flex align-items-center">
      <div class="col-lg-12">
        <div class="block-18 text-center">
          <div class="text">
            <h1 style="color:#fff; text-align: justify; font-weight:900;">
              Meet A Judge
            </h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section
  class="ftco-section ftco-no-pt ftco-no-pb"
  style="background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url('../../../assets/images/home_bg2.jpg'); background-size: cover;"
>
  <div class="container">
    <div class="row mb-2">
      <div class="col-md-12 pt-md-5 ftco-animate">
        <div class="card flex-md-row mb-4 box-shadow h-md-250 judgeCard">
          <div class="flip-box card-img-left flex-auto d-md-block">
            <div class="flip-box-inner">
              <div class="flip-box-front">
                <img
                  class="card-img-right flex-auto d-md-block"
                  src="../../../assets/images/shelby-311x311.jpg"
                  alt="BLAC"
                  style="width:311px;height:311px"
                />
              </div>
              <div class="flip-box-back card-back">
                <h2>Shelby Bootle</h2>
                <p>Theatre Mentor, Bridge The Gap Studios</p>
              </div>
            </div>
          </div>
          <div class="card-body d-flex flex-column align-items-start judges">
            <h3 class="mb-0">
              <a class="text-dark" href="#">Shelby Bootle</a>
            </h3>
            <div class="mb-1 text-dark-sub">Theatre Mentor, Bridge The Gap Studios</div>
            <p class="card-text mb-auto">
                    18 year old Shelby Bootle from Peckham in South East London is currently in her last year of college , finishing studying in Performing Arts and is deeply passionate about working with young people , especially through Performing Arts , which allows them to create a safe platform for them create and express as well as a platform for their voices to be heard and listened to. In the past, Shelby has worked with Bridge The Gap Studios, taking on the book “Silent Voices” written by Johnathan Toy , and creating a new play which is based on real stories of young people and the struggles they are facing.
            </p>
            <p class="card-text mb-auto">
                    In 2018, Shelby had a great opportunity to perform in Parliament in hand with the Young Violence Commission and has also volunteered with the exclusive theatre company ‘Angel Shed Theatre’ for children aged 5-16. Angel Shed allows children to be themselves, allow their imagination to come out and to be proud of what they can achieve together.
            </p>
            <p class="card-text mb-auto">
                    Bridge The Gap Studios are a Social Enterprise that works with young people all over London who are facing challenging life situations. They encourage and facilitate behavioural improvements in these young people to help them make solid connections between them and their success (at home, in education and in their future aspirations). A growing challenge in behavioural management is said to stem from the fact that many young people don’t know how to correctly express how they feel and engage with the future they want. This is especially apparent in young men. In addition to this, more and more young people process knowledge and information through practical application rather than just through theory. Knowing this, BTG Studios uses the performing arts to combine a healthy balance of both. This is done by using Forum Theatre, musical elements and specialized coaching to help young people to express, explore and resolve issues.
            </p>
            <p class="card-text mb-auto">
                    Delivering workshops with Bridge The Gap Studios is what Shelby is currently working on and these early intervention sessions are focused on knife crime awareness, and have been delivered in multiple primary schools around south London.
            </p>
            
            <h4 class="card-text mb-auto">
              <a href="https://bridgethegapstudios.com">bridgethegapstudios.com</a>
            </h4>
            <br/>
            <a
              href="/judges"
              class="btn btn-danger d-block px-2 py-3 ca-read-btn"
              >Back to the Judges</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section ftco-partner">
  <div class="container">
    <div class="row">
      <div class="col-sm ftco-animate">
        <a href="#" class="partner"
          ><img
            src="../../../assets/images/Alz-logo-A-2019-2.png"
            class="img-fluid"
            alt="BLAC SPONSOR"
        /></a>
      </div>
      <div class="col-sm ftco-animate">
        <a href="#" class="partner"
          ><img
            src="../../../assets/images/Mostly-2.png"
            class="img-fluid"
            alt="BLAC SPONSOR"
        /></a>
      </div>
      <div class="col-sm ftco-animate">
        <a href="#" class="partner"
          ><img
            src="../../../assets/images/jsclogo2_PNG-400x264.png"
            class="img-fluid"
            alt="BLAC SPONSOR"
        /></a>
      </div>
      <div class="col-sm ftco-animate">
        <a href="#" class="partner"
          ><img
            src="../../../assets/images/mayamada-logo-red-2.png"
            class="img-fluid"
            alt="BLAC SPONSOR"
        /></a>
      </div>
      <div class="col-sm ftco-animate">
        <a href="#" class="partner"
          ><img
            src="../../../assets/images/SL-Charitable-Trust.png"
            class="img-fluid"
            alt="BLAC SPONSOR"
        /></a>
      </div>
    </div>
    <div class="row">
      <div class="col-sm ftco-animate">
        <a href="#" class="partner"
          ><img
            src="../../../assets/images/VCP-logo-light-400x197.png"
            class="img-fluid"
            alt="BLAC SPONSOR"
        /></a>
      </div>
      <div class="col-sm ftco-animate">
        <a href="#" class="partner"
          ><img
            src="../../../assets/images/The-Voice-Logo-400x200.png"
            class="img-fluid"
            alt="BLAC SPONSOR"
        /></a>
      </div>
      <div class="col-sm ftco-animate">
        <a href="#" class="partner"
          ><img
            src="../../../assets/images/Gangsline_Logo_2.png"
            class="img-fluid"
            alt="BLAC SPONSOR"
        /></a>
      </div>
      <div class="col-sm ftco-animate">
        <a href="#" class="partner"
          ><img
            src="../../../assets/images/ca-logo-sponsor.png"
            class="img-fluid"
            alt="BLAC SPONSOR"
        /></a>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>

<!-- loader -->
<div id="ftco-loader" class="show fullscreen">
  <svg class="circular" width="48px" height="48px">
    <circle
      class="path-bg"
      cx="24"
      cy="24"
      r="22"
      fill="none"
      stroke-width="4"
      stroke="#eeeeee"
    />
    <circle
      class="path"
      cx="24"
      cy="24"
      r="22"
      fill="none"
      stroke-width="4"
      stroke-miterlimit="10"
      stroke="#F96D00"
    />
  </svg>
</div>
