<!-- tooltip-->
<div class="ca-tooltipx">roll over for full quotes</div>
<app-navbar></app-navbar>

<section
  class="ftco-section ftco-counter"
  id="section-counter"
  style="background-image: url(../../../assets/images/stormzy-youth.jpg);"
  data-stellar-background-ratio="0.5"
>
  <div class="container">
    <div class="row d-md-flex align-items-center">
      <div class="col-lg-12">
        <div class="block-18 text-center">
          <div class="text">
            <h1 style="color:#fff; text-align: justify; font-weight:900;">
              Meet A Judge
            </h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section
  class="ftco-section ftco-no-pt ftco-no-pb"
  style="background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url('../../../assets/images/home_bg2.jpg'); background-size: cover;"
>
  <div class="container">
    <div class="row mb-2">
      <div class="col-md-12 pt-md-5 ftco-animate">
        <div class="card flex-md-row mb-4 box-shadow h-md-250 judgeCard">
          <div class="flip-box card-img-left flex-auto d-md-block">
            <div class="flip-box-inner">
              <div class="flip-box-front">
                <img
                  class="card-img-right flex-auto d-md-block"
                  src="../../../assets/images/jacqui-dyer-mbe-311x311.jpg"
                  alt="BLAC"
                  style="width:311px;height:311px"
                />
              </div>
              <div class="flip-box-back card-back">
                <h2>Dr Jacqui Dyer MBE</h2>
                <p>Lambeth Labour Councillor</p>
              </div>
            </div>
          </div>
          <div class="card-body d-flex flex-column align-items-start judges">
            <h3 class="mb-0">
              <a class="text-dark" href="#">Dr Jacqui Dyer MBE</a>
            </h3>
            <div class="mb-1 text-dark-sub">Lambeth Labour Councillor</div>
            <p class="card-text mb-auto">
              Jacqui Dyer was educated at London and Brunel universities, where
              she completed postgraduate research in decision-making within
              children’s social care services. She has a background in adult
              mental health commissioning as well as community and family social
              work and has recently worked as an independent health and social
              care consultant.
            </p>
            <p class="card-text mb-auto">
              Jacqui has worked with a wide range of vulnerable care groups and
              has a strong passion for grassroots community empowerment. As an
              experienced counsellor, trainer, personal and professional
              development coach and group facilitator, she brings many
              dimensions to her insights including an understanding of
              crosscutting socio-economic policy.
            </p>
            <p class="card-text mb-auto">
              As a mental health service user and carer for the past two and a
              half decades, her experiential knowledge of mental health services
              is extensive. Currently, she is a senior management board lived
              experience advisor for the Department of Health National ‘Time To
              Change’ Anti-stigma and Discrimination Campaign.
            </p>
            <p class="card-text mb-auto">
              Additionally, Jacqui is an appointed member of the Ministerial
              Advisory Group for Mental Health, which oversees the
              implementation of the national mental health strategy. Jacqui Dyer
              recently received her MBE in the 2017 New Year Honours for
              services to mental health and has a strong passion in grassroots
              community empowerment. As a mental service user and carer for the
              past few decades, Jacqui’s experiential knowledge of mental health
              services is extensive. Cllr Dyer is currently the Mental Health
              Equalities advisor for NHS England and co-chairs the steering
              group for London Thrive – the Mayoral Mental Health Road Map for
              London. Jacqui is an elected Labour Councillor where she is a vice
              chair of Lambeth’s Overview and Scrutiny Committee.
            </p>
            <h4 class="card-text mb-auto">
              <a
                href="https://www.blackthrive.org.uk/jacqui-black-thrive-team-member"
                >blackthrive.org.uk</a
              >
            </h4>
            <br />
            <a
              href="/judges"
              class="btn btn-danger d-block px-2 py-3 ca-read-btn"
              >Back to the Judges</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section ftco-partner">
  <div class="container">
    <div class="row">
      <div class="col-sm ftco-animate">
        <a href="#" class="partner"
          ><img
            src="../../../assets/images/Alz-logo-A-2019-2.png"
            class="img-fluid"
            alt="BLAC SPONSOR"
        /></a>
      </div>
      <div class="col-sm ftco-animate">
        <a href="#" class="partner"
          ><img
            src="../../../assets/images/Mostly-2.png"
            class="img-fluid"
            alt="BLAC SPONSOR"
        /></a>
      </div>
      <div class="col-sm ftco-animate">
        <a href="#" class="partner"
          ><img
            src="../../../assets/images/jsclogo2_PNG-400x264.png"
            class="img-fluid"
            alt="BLAC SPONSOR"
        /></a>
      </div>
      <div class="col-sm ftco-animate">
        <a href="#" class="partner"
          ><img
            src="../../../assets/images/mayamada-logo-red-2.png"
            class="img-fluid"
            alt="BLAC SPONSOR"
        /></a>
      </div>
      <div class="col-sm ftco-animate">
        <a href="#" class="partner"
          ><img
            src="../../../assets/images/SL-Charitable-Trust.png"
            class="img-fluid"
            alt="BLAC SPONSOR"
        /></a>
      </div>
    </div>
    <div class="row">
      <div class="col-sm ftco-animate">
        <a href="#" class="partner"
          ><img
            src="../../../assets/images/VCP-logo-light-400x197.png"
            class="img-fluid"
            alt="BLAC SPONSOR"
        /></a>
      </div>
      <div class="col-sm ftco-animate">
        <a href="#" class="partner"
          ><img
            src="../../../assets/images/The-Voice-Logo-400x200.png"
            class="img-fluid"
            alt="BLAC SPONSOR"
        /></a>
      </div>
      <div class="col-sm ftco-animate">
        <a href="#" class="partner"
          ><img
            src="../../../assets/images/Gangsline_Logo_2.png"
            class="img-fluid"
            alt="BLAC SPONSOR"
        /></a>
      </div>
      <div class="col-sm ftco-animate">
        <a href="#" class="partner"
          ><img
            src="../../../assets/images/ca-logo-sponsor.png"
            class="img-fluid"
            alt="BLAC SPONSOR"
        /></a>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>

<!-- loader -->
<div id="ftco-loader" class="show fullscreen">
  <svg class="circular" width="48px" height="48px">
    <circle
      class="path-bg"
      cx="24"
      cy="24"
      r="22"
      fill="none"
      stroke-width="4"
      stroke="#eeeeee"
    />
    <circle
      class="path"
      cx="24"
      cy="24"
      r="22"
      fill="none"
      stroke-width="4"
      stroke-miterlimit="10"
      stroke="#F96D00"
    />
  </svg>
</div>
