<!-- tooltip-->
<div class="ca-tooltipx">roll over for full quotes</div>
<app-navbar></app-navbar>

<section
  class="ftco-section ftco-counter"
  id="section-counter"
  style="background-image: url(../../../assets/images/stormzy-youth.jpg);"
  data-stellar-background-ratio="0.5"
>
  <div class="container">
    <div class="row d-md-flex align-items-center">
      <div class="col-lg-12">
        <div class="block-18 text-center">
          <div class="text">
            <h1 style="color:#fff; text-align: justify; font-weight:900;">
              Information
            </h1>
          </div>
        </div>
      </div>

      <!--
      <div class="col-lg-4">
        <div class="heading-section pl-md-5 heading-section-white">
          <div class="ftco-animate">
            <span class="subheading">Some</span>
            <h2 class="mb-4">Interesting Facts</h2>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="row d-md-flex align-items-center">
          <div
            class="col-md d-flex justify-content-center counter-wrap ftco-animate"
          >
            <div class="block-18 text-center">
              <div class="text">
                <strong class="number" data-number="2000">0</strong>
                <span>Done Works</span>
              </div>
            </div>
          </div>
          <div
            class="col-md d-flex justify-content-center counter-wrap ftco-animate"
          >
            <div class="block-18 text-center">
              <div class="text">
                <strong class="number" data-number="300">0</strong>
                <span>Happy Customers</span>
              </div>
            </div>
          </div>
          <div
            class="col-md d-flex justify-content-center counter-wrap ftco-animate"
          >
            <div class="block-18 text-center">
              <div class="text">
                <strong class="number" data-number="100">0</strong>
                <span>Coffee</span>
              </div>
            </div>
          </div>
          <div
            class="col-md d-flex justify-content-center counter-wrap ftco-animate"
          >
            <div class="block-18 text-center">
              <div class="text">
                <strong class="number" data-number="1000">0</strong>
                <span>Work Hours</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    --></div>
  </div>
</section>

<section class="ftco-section ftco-no-pt ftco-no-pb testimony-section" style="margin-top:50px">
  <div class="container">
    <div class="row no-gutters">
      <div
        class="col-md-5 p-md-5 img img-2 d-flex justify-content-center align-items-center order-md-last notmobile"
        style="background-image: url(../../../assets/images/dresscode5.jpg); background-size:cover;"
      ></div>
      <div class="col-md-7 wrap-about pt-md-5 ftco-animate">
        <div class="pr-md-3 pr-lg-5 pl-md-5 mr-md-5 mb-5 blackfont">
          <h1 style="color:#fff; font-weight:900;">
            Greetings esteemed guests and friends,
          </h1>
          <p class="mb-4">
            Due to the fantastic interest in the inaugural BLAC Awards Ceremony,
            this unique event is now due to be held in London at an iconic
            location and will be the perfect opportunity to network and
            celebrate our achievements amongst our peers, friends and colleagues
            – an event not to be missed.
          </p>
          <h1 style="color:#fff; text-align: justify; font-weight:900;">
            ITINARARY:
          </h1>
          <ul>
            <li>Welcome Drinks</li>
            <li>3 Course Meal</li>
            <li>Entertainment</li>
            <li>Inspirational Speeches</li>
            <li>Awards Ceremony</li>
          </ul>
          <p class="mb-4">
            The awards begin with a complimentary drinks reception, followed by
            a three-course meal, awards presentation and entertainment.
          </p>
          <p class="mb-4">
            Earlybird tickets and party concessions will be on sale from Sunday
            1 September 2019. For more information and party bookings, please
            contact info@blac.org.uk.
          </p>
          <p class="mb-4">
            Please save the date and we look forward to seeing you soon!
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section
  class="ftco-section ftco-no-pt ftco-no-pb"
  style="background-image: url(../../../assets/images/home_bg2.jpg); background-size: cover;"
>
  <div class="container">
    <div class="row no-gutters">
      <div
        class="col-md-5 p-md-5 img img-2 d-flex justify-content-center align-items-center order-md-last notmobile"
        style="background-image: url(../../../assets/images/logo-for-about-us-300x239.jpg);"
      ></div>
      <div class="col-md-7 wrap-about pt-md-5 ftco-animate">
        <div class="heading-section mb-5 pt-5 pl-md-5">
          <div class="pr-md-5 mr-md-5 text-md-right">
            <h1
              style="color:#fff; text-align: justify; font-weight:900;color:#000;"
            >
              BOOKING DETAILS:
            </h1>
            <p>
              To book your place or for further information please contact
              info@blac.org.uk Please note: Tables are allocated on a
              first-come, first-served basis. Cancellations: We regret that
              refunds cannot be made if tickets are cancelled within 28 days of
              the event.
            </p>
          </div>
        </div>
        <div class="pr-md-3 pr-lg-5 pl-md-5 mr-md-5 mb-5 ">
            <h1
              style="color:#fff; text-align: justify; font-weight:900;color:#000;"
            >
              EVENT DETAILS:
            </h1>
          <ul>
            <li>18.00 – Drinks Reception</li>
            <li>18:45 – Welcome Speeches</li>
            <li>19:00 – Comedy</li>
            <li>19.15 – Dinner</li>
            <li>21:00 – Live Music</li>
            <li>21:15 – Inspirational Speeches</li>
            <li>21.25 – Awards</li>
            <li>22:15 – Live Music</li>
            <li>22:45 – Awards</li>
            <li>23:30 – Special Recognition Award</li>
            <li>24:00 – Close</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="ftco-section ftco-no-pt ftco-no-pb testimony-section">
  <div class="container">
    <div class="row no-gutters">
      <div
        class="col-md-5 p-md-5 img img-2 d-flex justify-content-center align-items-center order-md-last notmobile"
        style="background-image: url(../../../assets/images/dresscode33.jpg); background-size:cover;"
      ></div>
      <div class="col-md-7 wrap-about pt-md-5 ftco-animate">
        <div class="pr-md-3 pr-lg-5 pl-md-5 mr-md-5 mb-5 blackfont">
            <h1 style="color:#fff; text-align: justify; font-weight:900;">DRESS CODE:</h1>
          <ul>
            <li>Welcome Drinks</li>
            <li>3 Course Meal</li>
            <li>Entertainment</li>
            <li>Inspirational Speeches</li>
            <li>Awards Ceremony</li>
          </ul>
          <p class="mb-4">
            Although this is a black tie event, cultural attire is welcomed and
            positively encouraged!
          </p>
          <p class="mb-4">
            BLAC is proud to present their Bright Lights most remarkable role
            models and the perfect opportunity to say “Thank You” to those who
            make our community such a great place to live and work.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section ftco-partner">
  <div class="container">
    <div class="row">
      <div class="col-sm ftco-animate">
        <a href="#" class="partner"
          ><img
            src="../../../assets/images/Alz-logo-A-2019-2.png"
            class="img-fluid"
            alt="BLAC SPONSOR"
        /></a>
      </div>
      <div class="col-sm ftco-animate">
        <a href="#" class="partner"
          ><img
            src="../../../assets/images/Mostly-2.png"
            class="img-fluid"
            alt="BLAC SPONSOR"
        /></a>
      </div>
      <div class="col-sm ftco-animate">
        <a href="#" class="partner"
          ><img
            src="../../../assets/images/jsclogo2_PNG-400x264.png"
            class="img-fluid"
            alt="BLAC SPONSOR"
        /></a>
      </div>
      <div class="col-sm ftco-animate">
        <a href="#" class="partner"
          ><img
            src="../../../assets/images/mayamada-logo-red-2.png"
            class="img-fluid"
            alt="BLAC SPONSOR"
        /></a>
      </div>
      <div class="col-sm ftco-animate">
        <a href="#" class="partner"
          ><img
            src="../../../assets/images/SL-Charitable-Trust.png"
            class="img-fluid"
            alt="BLAC SPONSOR"
        /></a>
      </div>
    </div>
    <div class="row">
      <div class="col-sm ftco-animate">
        <a href="#" class="partner"
          ><img
            src="../../../assets/images/VCP-logo-light-400x197.png"
            class="img-fluid"
            alt="BLAC SPONSOR"
        /></a>
      </div>
      <div class="col-sm ftco-animate">
        <a href="#" class="partner"
          ><img
            src="../../../assets/images/The-Voice-Logo-400x200.png"
            class="img-fluid"
            alt="BLAC SPONSOR"
        /></a>
      </div>
      <div class="col-sm ftco-animate">
        <a href="#" class="partner"
          ><img
            src="../../../assets/images/Gangsline_Logo_2.png"
            class="img-fluid"
            alt="BLAC SPONSOR"
        /></a>
      </div>
      <div class="col-sm ftco-animate">
        <a href="#" class="partner"
          ><img
            src="../../../assets/images/ca-logo-sponsor.png"
            class="img-fluid"
            alt="BLAC SPONSOR"
        /></a>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>

<!-- loader -->
<div id="ftco-loader" class="show fullscreen">
  <svg class="circular" width="48px" height="48px">
    <circle
      class="path-bg"
      cx="24"
      cy="24"
      r="22"
      fill="none"
      stroke-width="4"
      stroke="#eeeeee"
    />
    <circle
      class="path"
      cx="24"
      cy="24"
      r="22"
      fill="none"
      stroke-width="4"
      stroke-miterlimit="10"
      stroke="#F96D00"
    />
  </svg>
</div>
