<!-- tooltip-->
<div class="ca-tooltipx">roll over for full quotes</div>
<app-navbar></app-navbar>

<section
  class="ftco-section ftco-counter"
  id="section-counter"
  style="background-image: url(../../../assets/images/stormzy-youth.jpg);"
  data-stellar-background-ratio="0.5"
>
  <div class="container">
    <div class="row d-md-flex align-items-center">
      <div class="col-lg-12">
        <div class="block-18 text-center">
          <div class="text">
            <h1 style="color:#fff; text-align: justify; font-weight:900;">
              Meet The Judges
            </h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section
  class="ftco-section ftco-no-pt ftco-no-pb"
  style="background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url('../../../assets/images/home_bg2.jpg'); background-size: cover;"
>
  <div class="container">
    <div class="row mb-2">
      <div class="col-md-12 pt-md-5 ftco-animate">
        <div class="card flex-md-row mb-4 box-shadow h-md-250 judgeCard">
          <div class="card-body d-flex flex-column align-items-start">
            <h3 class="mb-0">
              <a class="text-dark" href="#">Neil Kenlock</a>
            </h3>
            <div class="mb-1 text-dark-sub">Co-founder of Choice FM Radio</div>
            <p class="card-text mb-auto">
              Neil Kenlock is a Jamaican-born photographer and media
              professional who has lived in London, England, since the 1960s,
              and is acknowledged as being “at the forefront of documenting the
              black experience in the UK”. He was the co-founder of Choice FM
              the first successful radio station granted a licence to cater for
              the black community in Britain.
            </p>

            <a href="/neil-kenlock" class="btn btn-danger d-block px-2 py-3 ca-read-btn"
              >Read More</a
            >
          </div>

          <div class="flip-box card-img-right flex-auto d-md-block">
            <div class="flip-box-inner">
              <div class="flip-box-front">
                <img
                  class="card-img-right flex-auto d-md-block"
                  src="../../../assets/images/neil-kenlock-311x311.jpg"
                  alt="BLAC"
                  style="width:311px;height:311px"
                />
              </div>
              <div class="flip-box-back card-back">
                <h2>Neil Kenlock</h2>
                <p>Co-founder of Choice FM Radio</p>
              </div>
            </div>
          </div>
        </div>
        <div class="card flex-md-row mb-4 box-shadow h-md-250 judgeCard">
          <div class="card-body d-flex flex-column align-items-start">
            <h3 class="mb-0">
              <a class="text-dark" href="#">Althea Smith</a>
            </h3>
            <div class="mb-1 text-dark-sub">Former Mayor of Southwark</div>
            <p class="card-text mb-auto">
              Althea’s desire to come into politics was borne out of growing up
              in a high crime area. She was a trusted member of the community
              known for her ability to negotiate between the police and members
              of the community. Having initially chosen a nursing career, in
              2006 having been a proactive community activist, Althea decided to
              translate the years of grassroots activism into elected office.
            </p>
            <a href="/althea-smith" class="btn btn-danger d-block px-2 py-3 ca-read-btn"
              >Read More</a
            >
          </div>
          <div class="flip-box card-img-right flex-auto d-md-block">
            <div class="flip-box-inner">
              <div class="flip-box-front">
                <img
                  class="card-img-right flex-auto d-md-block"
                  src="../../../assets/images/althea-smith-311x311.jpg"
                  alt="BLAC"
                  style="width:311px;height:311px"
                />
              </div>
              <div class="flip-box-back card-back">
                <h2>Althea Smith</h2>
                <p>Former Mayor of Southwark</p>
              </div>
            </div>
          </div>
        </div>
        <div class="card flex-md-row mb-4 box-shadow h-md-250 judgeCard">
          <div class="card-body d-flex flex-column align-items-start">
            <h3 class="mb-0">
              <a class="text-dark" href="#">Jordan James</a>
            </h3>
            <div class="mb-1 text-dark-sub">Youth Worker</div>
            <p class="card-text mb-auto">
              Jordan is a youth worker and spoken word artist based in south
              London. He is passionate about youth work and sharing his
              experiences to help young people develop. Jordan currently works
              as a teaching assistant and plans to set up his own youth club and
              mentoring programme one day. Jordan is also a volunteer on the Raw
              Sounds mental health project at Raw Material, a south London based
              music education charity, supporting young people with mental
              health needs to progress with their music.
            </p>
            <a href="/jordan-james" class="btn btn-danger d-block px-2 py-3 ca-read-btn"
              >Read More</a
            >
          </div>
          <div class="flip-box card-img-right flex-auto d-md-block">
            <div class="flip-box-inner">
              <div class="flip-box-front">
                <img
                  class="card-img-right flex-auto d-md-block"
                  src="../../../assets/images/jordan-311x311.jpg"
                  alt="BLAC"
                  style="width:311px;height:311px"
                />
              </div>
              <div class="flip-box-back card-back">
                <h2>Jordan James</h2>
                <p>Youth Worker</p>
              </div>
            </div>
          </div>
        </div>
        <div class="card flex-md-row mb-4 box-shadow h-md-250 judgeCard">
          <div class="card-body d-flex flex-column align-items-start">
            <h3 class="mb-0">
              <a class="text-dark" href="#">Dr Jacqui Dyer MBE</a>
            </h3>
            <div class="mb-1 text-dark-sub">Lambeth Labour Councillor</div>
            <p class="card-text mb-auto">
              Jacqui Dyer was educated at London and Brunel universities, where
              she completed postgraduate research in decision-making within
              children’s social care services. She has a background in adult
              mental health commissioning as well as community and family social
              work and has recently worked as an independent health and social
              care consultant.
            </p>
            <a href="/jaqui-dyer" class="btn btn-danger d-block px-2 py-3 ca-read-btn"
              >Read More</a
            >
          </div>
          <div class="flip-box card-img-right flex-auto d-md-block">
            <div class="flip-box-inner">
              <div class="flip-box-front">
                <img
                  class="card-img-right flex-auto d-md-block"
                  src="../../../assets/images/jacqui-dyer-mbe-311x311.jpg"
                  alt="BLAC"
                  style="width:311px;height:311px"
                />
              </div>
              <div class="flip-box-back card-back">
                <h2>Dr Jacqui Dyer MBE</h2>
                <p>Lambeth Labour Councillor</p>
              </div>
            </div>
          </div>
        </div>
        <div class="card flex-md-row mb-4 box-shadow h-md-250 judgeCard">
          <div class="card-body d-flex flex-column align-items-start">
            <h3 class="mb-0">
              <a class="text-dark" href="#">Huey Vanderpuije</a>
            </h3>
            <div class="mb-1 text-dark-sub">
              Captain of Dwaynamics Boxing Gym
            </div>
            <p class="card-text mb-auto">
              Huey has been very much the heart of the Dwayne Simpson
              Foundation, Dwaynamics ABC (Association of Boxing Commissions) as
              he was a childhood friend of Dwayne Simpson before he was
              tragically killed through knife crime.
            </p>
            <a href="/huey" class="btn btn-danger d-block px-2 py-3 ca-read-btn"
              >Read More</a
            >
          </div>
          <div class="flip-box card-img-right flex-auto d-md-block">
            <div class="flip-box-inner">
              <div class="flip-box-front">
                <img
                  class="card-img-right flex-auto d-md-block"
                  src="../../../assets/images/huey-311x311.jpg"
                  alt="BLAC"
                  style="width:311px;height:311px"
                />
              </div>
              <div class="flip-box-back card-back">
                <h2>Huey Vanderpuije</h2>
                <p>Captain of Dwaynamics Boxing Gym</p>
              </div>
            </div>
          </div>
        </div>
        <div class="card flex-md-row mb-4 box-shadow h-md-250 judgeCard">
          <div class="card-body d-flex flex-column align-items-start">
            <h3 class="mb-0">
              <a class="text-dark" href="#">Nana Marfo</a>
            </h3>
            <div class="mb-1 text-dark-sub">
              Enablement Employment Support Officer
            </div>
            <p class="card-text mb-auto">
              Nana is a ground-breaking miracle who has dedicated his life to
              giving others with disabilities a voice within employment. With
              his enterprise, Unique Abilities Ltd’, he vigorously works on
              raising awareness about the huge asset that those that live with a
              disability are to both society and employment whilst helping to
              break those barriers that prevent them being treated unfairly.
            </p>
            <a href="/nana-marfo" class="btn btn-danger d-block px-2 py-3 ca-read-btn"
              >Read More</a
            >
          </div>
          <div class="flip-box card-img-right flex-auto d-md-block">
            <div class="flip-box-inner">
              <div class="flip-box-front">
                <img
                  class="card-img-right flex-auto d-md-block"
                  src="../../../assets/images/nana-1-300x300.png"
                  alt="BLAC"
                  style="width:311px;height:311px"
                />
              </div>
              <div class="flip-box-back card-back">
                <h2>Nana Marfo</h2>
                <p>Enablement Employment Support Officer</p>
              </div>
            </div>
          </div>
        </div>
        <div class="card flex-md-row mb-4 box-shadow h-md-250 judgeCard">
          <div class="card-body d-flex flex-column align-items-start">
            <h3 class="mb-0">
              <a class="text-dark" href="#">Shelby Bootle</a>
            </h3>
            <div class="mb-1 text-dark-sub">
              Theatre Mentor, Bridge The Gap Studios
            </div>
            <p class="card-text mb-auto">
              18 year old Shelby Bootle from Peckham in South East London is
              currently in her last year of college , finishing studying in
              Performing Arts and is deeply passionate about working with young
              people , especially through Performing Arts , which allows them to
              create a safe platform for them create and express as well as a
              platform for their voices to be heard and listened to.
            </p>
            <a href="/shelby-bootle" class="btn btn-danger d-block px-2 py-3 ca-read-btn"
              >Read More</a
            >
          </div>
          <div class="flip-box card-img-right flex-auto d-md-block">
            <div class="flip-box-inner">
              <div class="flip-box-front">
                <img
                  class="card-img-right flex-auto d-md-block"
                  src="../../../assets/images/shelby-311x311.jpg"
                  alt="BLAC"
                  style="width:311px;height:311px"
                />
              </div>
              <div class="flip-box-back card-back">
                <h2>Shelby Bootle</h2>
                <p>Theatre Mentor, Bridge The Gap Studios</p>
              </div>
            </div>
          </div>
        </div>
        <div class="card flex-md-row mb-4 box-shadow h-md-250 judgeCard">
          <div class="card-body d-flex flex-column align-items-start">
            <h3 class="mb-0">
              <a class="text-dark" href="#">Jonathan Ogundegi</a>
            </h3>
            <div class="mb-1 text-dark-sub">
              Director, Bridge The Gap Studios
            </div>
            <p class="card-text mb-auto">
              Jonathan has always had a passion to help and support local youth
              in developing skills and encouraging expression, and has a wealth
              of experience in an eclectic range of areas.
            </p>
            <a href="/jonathan-ogundegi" class="btn btn-danger d-block px-2 py-3 ca-read-btn"
              >Read More</a
            >
          </div>
          <div class="flip-box card-img-right flex-auto d-md-block">
            <div class="flip-box-inner">
              <div class="flip-box-front">
                <img
                  class="card-img-right flex-auto d-md-block"
                  src="../../../assets/images/Jonathan4.jpg"
                  alt="BLAC"
                  style="width:311px;height:311px"
                />
              </div>
              <div class="flip-box-back card-back">
                <h2>Jonathan Ogundegi</h2>
                <p>Director, Bridge The Gap Studios</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section
  class="ftco-section ftco-counter"
  id="section-counter"
  style="background-image: url(../../../assets/images/stormzy-youth.jpg);"
  data-stellar-background-ratio="0.5"
>
  <div class="container">
    <div class="row d-md-flex align-items-center">
      <div class="col-lg-6">
        <iframe
          width="100%"
          height="300px"
          src="https://www.youtube.com/embed/F1_Y7qpl67I?enablejsapi=1&amp;wmode=opaque"
          frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen=""
          id="player_1"
        ></iframe>
      </div>
      <div class="col-lg-6">
        <div class="block-18 text-center">
          <div class="text">
            <h4 style="color:#fff; text-align: justify;">
              London’s Knife Wars: What’s The Solution – A BBC London
              Documentary Aired in January 2019
            </h4>
            <span style="text-align: justify;"
              >Last year 17 teenagers were stabbed to death in what was the
              deadliest year in a decade in London. Tina Daheley asks the
              police, politicians and an audience of Londoners why some young
              people are turning to knife crime and what can be done to stop the
              number of young lives lost on the capital’s streets.</span
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section ftco-partner">
  <div class="container">
    <div class="row">
      <div class="col-sm ftco-animate">
        <a href="#" class="partner"
          ><img
            src="../../../assets/images/Alz-logo-A-2019-2.png"
            class="img-fluid"
            alt="BLAC SPONSOR"
        /></a>
      </div>
      <div class="col-sm ftco-animate">
        <a href="#" class="partner"
          ><img
            src="../../../assets/images/Mostly-2.png"
            class="img-fluid"
            alt="BLAC SPONSOR"
        /></a>
      </div>
      <div class="col-sm ftco-animate">
        <a href="#" class="partner"
          ><img
            src="../../../assets/images/jsclogo2_PNG-400x264.png"
            class="img-fluid"
            alt="BLAC SPONSOR"
        /></a>
      </div>
      <div class="col-sm ftco-animate">
        <a href="#" class="partner"
          ><img
            src="../../../assets/images/mayamada-logo-red-2.png"
            class="img-fluid"
            alt="BLAC SPONSOR"
        /></a>
      </div>
      <div class="col-sm ftco-animate">
        <a href="#" class="partner"
          ><img
            src="../../../assets/images/SL-Charitable-Trust.png"
            class="img-fluid"
            alt="BLAC SPONSOR"
        /></a>
      </div>
    </div>
    <div class="row">
      <div class="col-sm ftco-animate">
        <a href="#" class="partner"
          ><img
            src="../../../assets/images/VCP-logo-light-400x197.png"
            class="img-fluid"
            alt="BLAC SPONSOR"
        /></a>
      </div>
      <div class="col-sm ftco-animate">
        <a href="#" class="partner"
          ><img
            src="../../../assets/images/The-Voice-Logo-400x200.png"
            class="img-fluid"
            alt="BLAC SPONSOR"
        /></a>
      </div>
      <div class="col-sm ftco-animate">
        <a href="#" class="partner"
          ><img
            src="../../../assets/images/Gangsline_Logo_2.png"
            class="img-fluid"
            alt="BLAC SPONSOR"
        /></a>
      </div>
      <div class="col-sm ftco-animate">
        <a href="#" class="partner"
          ><img
            src="../../../assets/images/ca-logo-sponsor.png"
            class="img-fluid"
            alt="BLAC SPONSOR"
        /></a>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
<!-- loader -->
<div id="ftco-loader" class="show fullscreen">
  <svg class="circular" width="48px" height="48px">
    <circle
      class="path-bg"
      cx="24"
      cy="24"
      r="22"
      fill="none"
      stroke-width="4"
      stroke="#eeeeee"
    />
    <circle
      class="path"
      cx="24"
      cy="24"
      r="22"
      fill="none"
      stroke-width="4"
      stroke-miterlimit="10"
      stroke="#F96D00"
    />
  </svg>
</div>
