<!-- tooltip-->
<div class="ca-tooltipx">roll over for full quotes</div>
<app-navbar></app-navbar>

<section
  class="ftco-section ftco-counter"
  id="section-counter"
  style="background-image: url(../../../assets/images/stormzy-youth.jpg);"
  data-stellar-background-ratio="0.5"
>
  <div class="container">
    <div class="row d-md-flex align-items-center">
      <div class="col-lg-12">
        <div class="block-18 text-center">
          <div class="text">
            <h1 style="color:#fff; text-align: justify; font-weight:900;">
              Meet A Judge
            </h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section
  class="ftco-section ftco-no-pt ftco-no-pb"
  style="background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url('../../../assets/images/home_bg2.jpg'); background-size: cover;"
>
  <div class="container">
    <div class="row mb-2">
      <div class="col-md-12 pt-md-5 ftco-animate">
        <div class="card flex-md-row mb-4 box-shadow h-md-250 judgeCard">
          <div class="flip-box card-img-left flex-auto d-md-block">
            <div class="flip-box-inner">
              <div class="flip-box-front">
                <img
                  class="card-img-right flex-auto d-md-block"
                  src="../../../assets/images/jordan-311x311.jpg"
                  alt="BLAC"
                  style="width:311px;height:311px"
                />
              </div>
              <div class="flip-box-back card-back">
                <h2>Jordan James</h2>
                <p>Youth Worker</p>
              </div>
            </div>
          </div>
          <div class="card-body d-flex flex-column align-items-start judges">
            <h3 class="mb-0">
              <a class="text-dark" href="#">Jordan James</a>
            </h3>
            <div class="mb-1 text-dark-sub">Youth Worker</div>
            <p class="card-text mb-auto">
                    Jordan is a youth worker and spoken word artist based in south London. He is passionate about youth work and sharing his experiences to help young people develop. Jordan currently works as a teaching assistant and plans to set up his own youth club and mentoring programme one day. Jordan is also a volunteer on the Raw Sounds mental health project at Raw Material, a south London based music education charity, supporting young people with mental health needs to progress with their music. His lyrics focus on inner-city life, sharing a positive vision to counterbalance the media’s often negative view. Jordan has performed at a range of high profile venues, including at Tate Modern, Pie Factory Music in Ramsgate, Brixton Jamm, POW Brixton and Electric Social.
            </p>
            <p class="card-text mb-auto">
                    Raw Material’s mission is to improve the lives of young people and their economic position, their opportunities, progression and development, including mental and physical health issues.
            </p>
            <p class="card-text mb-auto">
                    Jordan<br>
                    From their base in Brixton, they provide a range of training, mentoring and professional arts projects to develop creative talent, learn music and media skills, build confidence in a working environment and find routes into employment. With a track record spanning 25 years, they have been providing young people and the community with access to some of the best resources and expertise available.
            </p>
            <p class="card-text mb-auto">
                    The combined skills, resources, building, staff and experience is exemplary and at the forefront of youth and community arts.
            </p>
            <p class="card-text mb-auto">
                    Raw Material specialises in music, digital media, film and photography, performing arts, national touring and international programmes. They work in mental health in hospitals and the community with children, young people and adults, with CAMHS (Children and Adolescent Mental Health Services), in SEND (Special Educational Needs and Disabilities), within youth offending and with children and young people in challenging circumstances- and seek to enable all members of these communities to engage, achieve and progress.
            </p>
            <p class="card-text mb-auto">
                    The highest level of service is provided with the best resources possible and their mission is to create a professional, user-friendly, safe and inspiring learning environment, fine-tuned to provide outcomes that make a difference to participants and have real social, communal and economic impact.
            </p>
            <p class="card-text mb-auto">
                    Clearly targeting specific groups in its local community have had a significant impact through an active programme for over twenty-four years and provide a very wide range of music and other arts-related services and products, especially considering out limited resources and small number of staff. Although the main focus is the Brixton and Lambeth area of inner London, they’ve also delivered considerable outreach both in the UK and internationally.
            </p>
            <h4 class="card-text mb-auto">
              <a href="https://rawmusicmedia.co.uk/">rawmusicmedia.co.uk</a>
            </h4>
            <br/>
            <a
              href="/judges"
              class="btn btn-danger d-block px-2 py-3 ca-read-btn"
              >Back to the Judges</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section ftco-partner">
  <div class="container">
    <div class="row">
      <div class="col-sm ftco-animate">
        <a href="#" class="partner"
          ><img
            src="../../../assets/images/Alz-logo-A-2019-2.png"
            class="img-fluid"
            alt="BLAC SPONSOR"
        /></a>
      </div>
      <div class="col-sm ftco-animate">
        <a href="#" class="partner"
          ><img
            src="../../../assets/images/Mostly-2.png"
            class="img-fluid"
            alt="BLAC SPONSOR"
        /></a>
      </div>
      <div class="col-sm ftco-animate">
        <a href="#" class="partner"
          ><img
            src="../../../assets/images/jsclogo2_PNG-400x264.png"
            class="img-fluid"
            alt="BLAC SPONSOR"
        /></a>
      </div>
      <div class="col-sm ftco-animate">
        <a href="#" class="partner"
          ><img
            src="../../../assets/images/mayamada-logo-red-2.png"
            class="img-fluid"
            alt="BLAC SPONSOR"
        /></a>
      </div>
      <div class="col-sm ftco-animate">
        <a href="#" class="partner"
          ><img
            src="../../../assets/images/SL-Charitable-Trust.png"
            class="img-fluid"
            alt="BLAC SPONSOR"
        /></a>
      </div>
    </div>
    <div class="row">
      <div class="col-sm ftco-animate">
        <a href="#" class="partner"
          ><img
            src="../../../assets/images/VCP-logo-light-400x197.png"
            class="img-fluid"
            alt="BLAC SPONSOR"
        /></a>
      </div>
      <div class="col-sm ftco-animate">
        <a href="#" class="partner"
          ><img
            src="../../../assets/images/The-Voice-Logo-400x200.png"
            class="img-fluid"
            alt="BLAC SPONSOR"
        /></a>
      </div>
      <div class="col-sm ftco-animate">
        <a href="#" class="partner"
          ><img
            src="../../../assets/images/Gangsline_Logo_2.png"
            class="img-fluid"
            alt="BLAC SPONSOR"
        /></a>
      </div>
      <div class="col-sm ftco-animate">
        <a href="#" class="partner"
          ><img
            src="../../../assets/images/ca-logo-sponsor.png"
            class="img-fluid"
            alt="BLAC SPONSOR"
        /></a>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
<!-- loader -->
<div id="ftco-loader" class="show fullscreen">
  <svg class="circular" width="48px" height="48px">
    <circle
      class="path-bg"
      cx="24"
      cy="24"
      r="22"
      fill="none"
      stroke-width="4"
      stroke="#eeeeee"
    />
    <circle
      class="path"
      cx="24"
      cy="24"
      r="22"
      fill="none"
      stroke-width="4"
      stroke-miterlimit="10"
      stroke="#F96D00"
    />
  </svg>
</div>
