<app-navbar></app-navbar>

<section
  class="ftco-section ftco-counter"
  id="section-counter"
  style="background-image: url(../../../assets/images/stormzy-youth.jpg);"
  data-stellar-background-ratio="0.5"
>
  <div class="container">
    <div class="row d-md-flex align-items-center">
      <div class="col-lg-12">
        <div class="block-18 text-center">
          <div class="text">
            <h1 style="color:#fff; text-align: justify; font-weight:900;">
              Tickets
            </h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="testimony-section ftco-no-pt">
  <div class="container-fluid px-4">
    <div class="row justify-content-center pb-3">
      <div
        class="col-md-12 heading-section ftco-animate text-center ca-yellow-msg"
      >
        <p>&nbsp;</p>
        <h4 style="color:#fff; font-weight:900;">
            Tickets On Sale Soon.
            To avoid disappointment, please reserve your tickets in advance at info@blac.org.uk
        </h4>
        <div>
          Thank You.
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section ftco-partner">
  <div class="container">
    <div class="row">
      <div class="col-sm ftco-animate">
        <a href="#" class="partner"
          ><img
            src="../../../assets/images/Alz-logo-A-2019-2.png"
            class="img-fluid"
            alt="BLAC SPONSOR"
        /></a>
      </div>
      <div class="col-sm ftco-animate">
        <a href="#" class="partner"
          ><img
            src="../../../assets/images/Mostly-2.png"
            class="img-fluid"
            alt="BLAC SPONSOR"
        /></a>
      </div>
      <div class="col-sm ftco-animate">
        <a href="#" class="partner"
          ><img
            src="../../../assets/images/jsclogo2_PNG-400x264.png"
            class="img-fluid"
            alt="BLAC SPONSOR"
        /></a>
      </div>
      <div class="col-sm ftco-animate">
        <a href="#" class="partner"
          ><img
            src="../../../assets/images/mayamada-logo-red-2.png"
            class="img-fluid"
            alt="BLAC SPONSOR"
        /></a>
      </div>
      <div class="col-sm ftco-animate">
        <a href="#" class="partner"
          ><img
            src="../../../assets/images/SL-Charitable-Trust.png"
            class="img-fluid"
            alt="BLAC SPONSOR"
        /></a>
      </div>
    </div>
    <div class="row">
      <div class="col-sm ftco-animate">
        <a href="#" class="partner"
          ><img
            src="../../../assets/images/VCP-logo-light-400x197.png"
            class="img-fluid"
            alt="BLAC SPONSOR"
        /></a>
      </div>
      <div class="col-sm ftco-animate">
        <a href="#" class="partner"
          ><img
            src="../../../assets/images/The-Voice-Logo-400x200.png"
            class="img-fluid"
            alt="BLAC SPONSOR"
        /></a>
      </div>
      <div class="col-sm ftco-animate">
        <a href="#" class="partner"
          ><img
            src="../../../assets/images/Gangsline_Logo_2.png"
            class="img-fluid"
            alt="BLAC SPONSOR"
        /></a>
      </div>
      <div class="col-sm ftco-animate">
        <a href="#" class="partner"
          ><img
            src="../../../assets/images/ca-logo-sponsor.png"
            class="img-fluid"
            alt="BLAC SPONSOR"
        /></a>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
