<!-- tooltip-->
<div class="ca-tooltipx">roll over for full quotes</div>
<app-navbar></app-navbar>

<section
  class="ftco-section ftco-counter"
  id="section-counter"
  style="background-image: url(../../../assets/images/stormzy-youth.jpg);"
  data-stellar-background-ratio="0.5"
>
  <div class="container">
    <div class="row d-md-flex align-items-center">
      <div class="col-lg-12">
        <div class="block-18 text-center">
          <div class="text">
            <h1 style="color:#fff; text-align: justify; font-weight:900;">
              Sense of Togetherness
            </h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section
  class="ftco-section ftco-no-pt ftco-no-pb"
  style="background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url('../../../assets/images/home_bg2.jpg'); background-size: cover;"
>
  <div class="container">
    <div class="row mb-2">
      <div class="col-md-12 pt-md-5 ftco-animate">
        <div class="card flex-md-row mb-4 box-shadow h-md-250 readmoreCard">
          <div class="card-body d-flex flex-column align-items-start">
            <p class="text-white">
              The meaning of community is often misunderstood, understated or
              overlooked. The word ‘Community’ generally refers to sections of
              people who all have something in common and marked by a
              commonality such as geography and the ability to obey social norms
              and finding similarities among themselves which heighten their
              sense of belonging. Although communities can be divided by
              languages and cultures, the thing to remember is that they are all
              related to one another in some way and living in a world separated
              by languages, religious beliefs, culture and locations and there
              is a great deal of similarities that unite us than divide us which
              ultimately make the entire world one large community. The essence
              of community relies on trust, co-operation and communication in
              order to establish peace and harmony within society and in order
              to have understanding, we have to have the ability to foster
              harmony and peace which also allows us to feel a part of an
              establishment, a sense of togetherness and more importantly, the
              great sense of belonging, unity and friendship.
            </p>
            <p class="text-white">
              Togetherness is a feeling which lies in all of us. A feeling of
              togetherness shows how dependent we are to one another which is
              why from a very young age, growing up in a family setting, we’re
              taught to care for one another and as time progress, we learn to
              extend that sense of care and commitment to relatives, friends,
              neighbours and even strangers and this is what helps to build a
              stronger sense of togetherness that allows us to come together for
              those special occasions even with people we’ve never met before,
              for example our daily commute consists of taking the same train at
              the same time every day, we eventually notice the same person
              having the same routine. At one point we both acknowledge each
              other which lead to a smile or small talk; this is the sense of
              togetherness, it may not have occurred to you at that time but
              this small gesture could make the person feel valued and cared
              for, without this sense of togetherness, we’d be very lonely with
              little or no meaningful interactions.
            </p>
          </div>
          <div class="flip-box card-img-right flex-auto d-md-block">
            <div class="flip-box-inner">
              <div class="flip-box-front">
                <img
                  class="card-img-right flex-auto d-md-block"
                  src="https://www.blac.org.uk/wp-content/uploads/2019/02/2box.jpg"
                  alt="BLAC"
                  style="width:311px;height:311px"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section ftco-partner">
  <div class="container">
    <div class="row">
      <div class="col-sm ftco-animate">
        <a href="#" class="partner"
          ><img
            src="../../../assets/images/Alz-logo-A-2019-2.png"
            class="img-fluid"
            alt="BLAC SPONSOR"
        /></a>
      </div>
      <div class="col-sm ftco-animate">
        <a href="#" class="partner"
          ><img
            src="../../../assets/images/Mostly-2.png"
            class="img-fluid"
            alt="BLAC SPONSOR"
        /></a>
      </div>
      <div class="col-sm ftco-animate">
        <a href="#" class="partner"
          ><img
            src="../../../assets/images/jsclogo2_PNG-400x264.png"
            class="img-fluid"
            alt="BLAC SPONSOR"
        /></a>
      </div>
      <div class="col-sm ftco-animate">
        <a href="#" class="partner"
          ><img
            src="../../../assets/images/mayamada-logo-red-2.png"
            class="img-fluid"
            alt="BLAC SPONSOR"
        /></a>
      </div>
      <div class="col-sm ftco-animate">
        <a href="#" class="partner"
          ><img
            src="../../../assets/images/SL-Charitable-Trust.png"
            class="img-fluid"
            alt="BLAC SPONSOR"
        /></a>
      </div>
    </div>
    <div class="row">
      <div class="col-sm ftco-animate">
        <a href="#" class="partner"
          ><img
            src="../../../assets/images/VCP-logo-light-400x197.png"
            class="img-fluid"
            alt="BLAC SPONSOR"
        /></a>
      </div>
      <div class="col-sm ftco-animate">
        <a href="#" class="partner"
          ><img
            src="../../../assets/images/The-Voice-Logo-400x200.png"
            class="img-fluid"
            alt="BLAC SPONSOR"
        /></a>
      </div>
      <div class="col-sm ftco-animate">
        <a href="#" class="partner"
          ><img
            src="../../../assets/images/Gangsline_Logo_2.png"
            class="img-fluid"
            alt="BLAC SPONSOR"
        /></a>
      </div>
      <div class="col-sm ftco-animate">
        <a href="#" class="partner"
          ><img
            src="../../../assets/images/ca-logo-sponsor.png"
            class="img-fluid"
            alt="BLAC SPONSOR"
        /></a>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
<!-- loader -->
<div id="ftco-loader" class="show fullscreen">
  <svg class="circular" width="48px" height="48px">
    <circle
      class="path-bg"
      cx="24"
      cy="24"
      r="22"
      fill="none"
      stroke-width="4"
      stroke="#eeeeee"
    />
    <circle
      class="path"
      cx="24"
      cy="24"
      r="22"
      fill="none"
      stroke-width="4"
      stroke-miterlimit="10"
      stroke="#F96D00"
    />
  </svg>
</div>
