<!-- tooltip-->
<div class="ca-tooltipx">roll over for full quotes</div>
<app-navbar></app-navbar>

<section class="hero-wrap d-flex">
  <div class="forth d-flex">
    <div class="bg-after d-flex align-self-stretch"></div>
    <div class="text">
      <div class="desc pt-5">
        <h2 class="mb-3 ca-carousel-fade">{{ slideStoreMsg.message }}</h2>
        <span class="subheading ca-carousel-fade">{{
          slideStoreMsg.author
        }}</span>
      </div>
    </div>
  </div>
  <div class="third about-img">
    <div id="home" class="ca-home">
      <owl-carousel-o
        class="head-carousel"
        [options]="customOptions"
        (translated)="getPassedData($event)"
      >
        <ng-container *ngFor="let slide of slidesStore">
          <ng-template carouselSlide [id]="slide.id">
            <img [src]="slide.src" [alt]="slide.alt" [title]="slide.title" />
          </ng-template>
        </ng-container>
      </owl-carousel-o>
    </div>
  </div>
</section>

<section
  class="ftco-section ftco-no-pt ftco-no-pb"
  style="background-image: url(../../../assets/images/home_bg2.jpg); background-size: cover;"
>
  <div class="container">
    <div class="row no-gutters">
      <div
        class="col-md-5 p-md-5 img img-2 d-flex justify-content-center align-items-center order-md-last notmobile"
        style="background-image: url(../../../assets/images/stairs_2.jpg); position: relative; right: -15px;"
      ></div>
      <div class="col-md-7 wrap-about pt-md-5 ftco-animate">
        <div class="heading-section mb-5 pt-5 pl-md-5">
          <div class="pr-md-5 mr-md-5 text-md-right">
            <span class="subheading">Breaking...</span>
            <h4 class="mb-4">
              Due to phenomenal public interest and demand, a new date for The
              BLAC Awards will be announced soon! Please stay tuned!
            </h4>
          </div>
        </div>

        <div class="pr-md-3 pr-lg-5 pl-md-5 mr-md-5 mb-5 ca-tooltip-container">
          <div class="slick-carousel">
            <div class="services-wrap d-flex ca-tooltip">
              <div
                class="icon d-flex justify-content-center align-items-center"
              >
                <span class="flaticon-innovation"></span>
              </div>

              <div
                class="media-body pl-md-0 pl-4 pr-4 order-md-first text-md-right"
              >
                <div class="ca-quotes">
                  <p>
                    This event is long overdue and needs to be highlighted.
                    There’s not a lot of credit going where credit is due when
                    it comes to young people. Recognising something a young
                    person has done goes a long way and to be able to shine a
                    beacon of light on them is great because this shows the
                    young person that what they’re doing hasn’t gone unnoticed
                    and it shows the younger generation that you don’t have to
                    do bad things to get by. Doing something good and being
                    rewarded for it is sometimes all the acceptance a young
                    person needs to continue
                  </p>
                </div>
                <div class="ca-elipsis">...</div>
                <span class="ca-heading">Huey Vanderpuije</span
                ><span class="ca-subhead">( Dwaynamics Boxing Gym )</span>
              </div>
            </div>

            <div class="services-wrap d-flex ca-tooltip">
              <div
                class="icon d-flex justify-content-center align-items-center"
              >
                <span class="flaticon-innovation"></span>
              </div>

              <div
                class="media-body pl-md-0 pl-4 pr-4 order-md-first text-md-right"
              >
                <div class="ca-quotes">
                  <p>
                    This is a very honourable, worthwhile and much needed event.
                  </p>
                </div>
                <div class="ca-elipsis">...</div>
                <span class="ca-heading">Tayo, EbonyOnline.net</span>
              </div>
            </div>

            <div class="services-wrap d-flex ca-tooltip">
              <div
                class="icon d-flex justify-content-center align-items-center"
              >
                <span class="flaticon-innovation"></span>
              </div>

              <div
                class="media-body pl-md-0 pl-4 pr-4 order-md-first text-md-right"
              >
                <div class="ca-quotes ">
                  <p>
                    I'm honoured to have been asked to take part in what is a
                    very worthwhile and meaningful occasion.
                  </p>
                </div>
                <div class="ca-elipsis">...</div>
                <span class="ca-heading">David Cohen, Evening Standard</span>
              </div>
            </div>

            <div class="services-wrap d-flex ca-tooltip">
              <div
                class="icon d-flex justify-content-center align-items-center"
              >
                <span class="flaticon-innovation"></span>
              </div>

              <div
                class="media-body pl-md-0 pl-4 pr-4 order-md-first text-md-right"
              >
                <div class="ca-quotes">
                  <p>
                    A cultural community recognition, a night where the younger
                    and older generations can all network and gain value from
                    one another
                  </p>
                </div>
                <div class="ca-elipsis">...</div>
                <span class="ca-heading"> Joy, VP records</span>
              </div>
            </div>

            <div class="services-wrap d-flex ca-tooltip">
              <div
                class="icon d-flex justify-content-center align-items-center"
              >
                <span class="flaticon-innovation"></span>
              </div>

              <div
                class="media-body pl-md-0 pl-4 pr-4 order-md-first text-md-right"
              >
                <div class="ca-quotes">
                  <p>
                    The BLAC Awards will be a significant boost to the African,
                    Caribbean and black British communities, whose progressive,
                    entrepreneurial and educational achievements have been
                    missed and overshadowed by the violence, which is
                    underpinned by street gangs, that have disproportionately
                    affected these communities in London.
                  </p>
                </div>
                <div class="ca-elipsis">...</div>
                <span class="ca-heading">Sheldon Thomas, Gangsline</span>
              </div>
            </div>

            <div class="services-wrap d-flex ca-tooltip">
              <div
                class="icon d-flex justify-content-center align-items-center"
              >
                <span class="flaticon-innovation"></span>
              </div>

              <div
                class="media-body pl-md-0 pl-4 pr-4 order-md-first text-md-right"
              >
                <div class="ca-quotes">
                  <p>
                    So awesome to see a new fresh upcoming award that highlights
                    individuals in the African and Caribbean communities! It is
                    so necessary! I am looking forward to them!
                  </p>
                </div>
                <div class="ca-elipsis">...</div>
                <span class="ca-heading">Tene Alexandria</span>
                <span class="ca-subhead">( @herTRUTH_isME, via Twitter )</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section ftco-no-pt ftco-no-pb testimony-section">
  <div class="container">
    <div class="row no-gutters">
      <div
        class="col-md-5 p-md-5 img img-2 d-flex justify-content-center align-items-center order-md-first greatness"
      ></div>
      <div class="col-md-7 wrap-about pt-md-5 ftco-animate">
        <div class="pr-md-3 pr-lg-5 pl-md-5 mr-md-5 mb-5 blackfont">
          <p>&nbsp;</p>
          <h1 class="mb-4" style="font-weight:900;">Achieving Greatness</h1>
          <div class="col-md-3">
            <ul>
              <li *ngFor="let pollItem of pollItems$ | async">
                {{ pollItem }}
              </li>
            </ul>
          </div>
          <p>
            <img
              src="../../../assets/images/blac-logo-7.png"
              height="20
              0"
              align="bottom"
            />
            is an awards ceremony in the United Kingdom which will be
            celebrating excellence and paying tribute to grassroots
            African-Caribbean success stories across all walks of life,
            emphasising inspiring achievements and highlighting inspirational
            role models in the fields of business, sport, media, mentoring,
            entertainment, activism, philanthropy and popular arts and culture,
            offering an array of talented entrepreneurs and individuals.
          </p>
          <h2 class="mb-4">
            <a
              href="/about-us"
              class="btn btn-danger d-block px-2 py-3 mb-4 ca-read-btn"
              >Read More</a
            >
          </h2>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- We are delighted this year to be raising money for the Frank Bruno charities which help

Children with mental and physical disabilities -->

<div
  style="background-image: url(../../../assets/images/home_bg3.jpg); background-size: cover;"
>
  <section
    class="ftco-section ftco-no-pt ftco-no-pb testimony-section"
    style="background:transparent;"
  >
    <div class="container" style="padding: 0 !important;">
      <div class="row no-gutters">
        <div
          class="col-md-3 p-md-3 img img-2 d-flex justify-content-center align-items-center order-md-last  frankbrunopic notmobile"
        >
          <img
            src="../../../assets/images/Frank_Watermark.jpg"
            style="width: 100%; float: right;"
          />
        </div>
        <div class="col-md-9 wrap-about pt-md-5 ftco-animate">
          <div class="pr-md-3 pr-lg-5 pl-md-5 mr-md-5 mb-5 frankbruno">
            <h1 class="mb-4" style="font-weight:900; padding-top: 30px;">
              Charities
            </h1>
            <h3>
              <img
                src="../../../assets/images/charity-logo.jpg"
                class="frankbrunocharitypic"
              />
              We are delighted this year to be raising money for the Frank Bruno
              charities which help Children with mental and physical
              disabilities
            </h3>
            <h3 style="font-size: 20px; margin: 0; padding-bottom:20px;">
              The Presidents Sporting Club / Essex Disabled Sports Foundation
              (Registered Charity No. 1001176)
            </h3>
          </div>
          <div
            class="col-md-3 p-md-3 img img-2 d-flex justify-content-center align-items-center  frankbrunopic mobile"
          >
            <img
              src="../../../assets/images/Frank_Watermark.jpg"
              style="width: 100%; float: right;"
            />
          </div>
          <div class="frankbrunofoundation">
            <h3 class="mb-4">
                <img
                src="../../../assets/images/fbf.jpg"
                class="frankbrunocharitypic"
              />
              The Frank Bruno Foundation-Northampton “Building healthy bodies &
              healthy minds”

              <a
                href="https://www.thefrankbrunofoundation.co.uk/"
                target="_blank"
                >www.thefrankbrunofoundation.co.uk</a
              >
            </h3>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="ftco-section">
    <div class="container">
      <div class="row justify-content-center mb-5 pb-3">
        <div class="col-md-7 heading-section ftco-animate text-center">
          <!--<span class="subheading">{{pollTitle}}</span>-->
          <h1 class="mb-4" style="font-weight:900;">{{ pollTitle.value }}</h1>
          <ul class="poll">
            <li *ngFor="let item of pollQuestions">
              <a
                (click)="vote(item.key)"
                [className]="
                  voted
                    ? 'btn btn-danger d-block px-4 py-1 mb-4 ca-read-btn disabled poll-btn-disabled'
                    : 'btn btn-danger d-block px-4 py-1 mb-4 ca-read-btn poll-btn'
                "
                >{{ item.key }}</a
              >
            </li>
          </ul>
          <div *ngIf="chartToggle == true">
            <google-chart
              [title]="chart.title"
              [type]="chart.type"
              [data]="chart.data"
              [columnNames]="chart.columnNames"
              [options]="chart.options"
            >
            </google-chart>
            <h3 style="font-weight:900;">Total Voters: {{ total }}</h3>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4 ftco-animate hover13">
          <div class="blog-entry">
            <div>
              <a href="/division-of-work">
                <figure>
                  <img
                    src="https://www.blac.org.uk/wp-content/uploads/2019/02/shutterstock_763450642-400x280.jpg"
                  />
                </figure>
              </a>
            </div>
            <div class="text py-4">
              <div class="meta mb-3">
                <div><a href="/division-of-work">DIVISION OF WORK</a></div>
              </div>
              <div class="desc">
                <h3 class="heading">
                  <a href="/division-of-work"
                    >Society runs on our dependency for one another for
                    successful outcomes. We look for dependency outside from our
                    family members</a
                  >
                </h3>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 ftco-animate hover13">
          <div class="blog-entry" data-aos-delay="100">
            <div>
              <a href="/sense-of-togetherness">
                <figure>
                  <img
                    src="https://www.blac.org.uk/wp-content/uploads/2019/02/shutterstock_1188703699-400x280.jpg"
                  />
                </figure>
              </a>
            </div>
            <div class="text py-4">
              <div class="meta mb-3">
                <div>
                  <a href="/sense-of-togetherness">SENSE OF TOGETHERNESS</a>
                </div>
              </div>
              <div class="desc">
                <h3 class="heading">
                  <a href="/sense-of-togetherness"
                    >The meaning of community is often misunderstood,
                    understated or overlooked. The word ‘Community’ generally
                    refers to sections</a
                  >
                </h3>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 ftco-animate hover13">
          <div class="blog-entry" data-aos-delay="200">
            <div>
              <a href="/feeling-of-association">
                <figure>
                  <img
                    src="https://www.blac.org.uk/wp-content/uploads/2019/02/shutterstock_691135204-400x280.jpg"
                  />
                </figure>
              </a>
            </div>
            <div class="text py-4">
              <div class="meta mb-3">
                <div>
                  <a href="/feeling-of-association">FEELING OF ASSOCIATION</a>
                </div>
              </div>
              <div class="desc">
                <h3 class="heading">
                  <a href="/feeling-of-association"
                    >Our security within a community comes from a strong natural
                    human instinct of wanting to associate with one another. As
                    a general rule, we tend</a
                  >
                </h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<section
  class="ftco-section ftco-counter"
  id="section-counter"
  style="background-image: url(../../../assets/images/stormzy-youth.jpg);"
  data-stellar-background-ratio="0.5"
>
  <div class="container">
    <div class="row d-md-flex align-items-center">
      <div class="col-lg-6">
        <iframe
          width="100%"
          height="300px"
          src="https://www.youtube.com/embed/F1_Y7qpl67I?enablejsapi=1&amp;wmode=opaque"
          frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen=""
          id="player_1"
        ></iframe>
      </div>
      <div class="col-lg-6">
        <div class="block-18 text-center">
          <div class="text">
            <h4 style="color:#fff; text-align: justify;">
              London’s Knife Wars: What’s The Solution – A BBC London
              Documentary Aired in January 2019
            </h4>
            <span style="text-align: justify;"
              >Last year 17 teenagers were stabbed to death in what was the
              deadliest year in a decade in London. Tina Daheley asks the
              police, politicians and an audience of Londoners why some young
              people are turning to knife crime and what can be done to stop the
              number of young lives lost on the capital’s streets.</span
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section ftco-partner">
  <div class="container">
    <div class="row">
      <div class="col-sm ftco-animate">
        <a href="#" class="partner"
          ><img
            src="../../../assets/images/Alz-logo-A-2019-2.png"
            class="img-fluid"
            alt="BLAC SPONSOR"
        /></a>
      </div>
      <div class="col-sm ftco-animate">
        <a href="#" class="partner"
          ><img
            src="../../../assets/images/Mostly-2.png"
            class="img-fluid"
            alt="BLAC SPONSOR"
        /></a>
      </div>
      <div class="col-sm ftco-animate">
        <a href="#" class="partner"
          ><img
            src="../../../assets/images/jsclogo2_PNG-400x264.png"
            class="img-fluid"
            alt="BLAC SPONSOR"
        /></a>
      </div>
      <div class="col-sm ftco-animate">
        <a href="#" class="partner"
          ><img
            src="../../../assets/images/mayamada-logo-red-2.png"
            class="img-fluid"
            alt="BLAC SPONSOR"
        /></a>
      </div>
      <div class="col-sm ftco-animate">
        <a href="#" class="partner"
          ><img
            src="../../../assets/images/SL-Charitable-Trust.png"
            class="img-fluid"
            alt="BLAC SPONSOR"
        /></a>
      </div>
    </div>
    <div class="row">
      <div class="col-sm ftco-animate">
        <a href="#" class="partner"
          ><img
            src="../../../assets/images/VCP-logo-light-400x197.png"
            class="img-fluid"
            alt="BLAC SPONSOR"
        /></a>
      </div>
      <div class="col-sm ftco-animate">
        <a href="#" class="partner"
          ><img
            src="../../../assets/images/The-Voice-Logo-400x200.png"
            class="img-fluid"
            alt="BLAC SPONSOR"
        /></a>
      </div>
      <div class="col-sm ftco-animate">
        <a href="#" class="partner"
          ><img
            src="../../../assets/images/Gangsline_Logo_2.png"
            class="img-fluid"
            alt="BLAC SPONSOR"
        /></a>
      </div>
      <div class="col-sm ftco-animate">
        <a href="#" class="partner"
          ><img
            src="../../../assets/images/ca-logo-sponsor.png"
            class="img-fluid"
            alt="BLAC SPONSOR"
        /></a>
      </div>
    </div>
  </div>
</section>
<jw-modal id="newsletter">
  <div>
    <form [formGroup]="newsletterform" (ngSubmit)="onSubmit()">
      <div class="row justify-content-center pb-3">
        <div class="col-12">
          <img src="../../../assets/images/blac-logo-77.png" height="54" />
        </div>
        <div class="col-12">
          <h1>Contacts List</h1>
        </div>
      </div>
      <div class="row">
        Join our contacts list for events and business opportunities
      </div>
      <div class="row">
        <div class="col">
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              placeholder="Your Email"
              formControlName="email"
            />
          </div>
        </div>
      </div>
      <div class="form-group">
        <input
          type="submit"
          value="Submit Email"
          class="btn btn-primary py-3 px-5"
        />
      </div>
    </form>
  </div>
</jw-modal>
<app-footer></app-footer>

<ngx-snackbar [position]="'bottom-center'" [max]="3"></ngx-snackbar>

<!-- loader -->
<div id="ftco-loader" class="show fullscreen">
  <svg class="circular" width="48px" height="48px">
    <circle
      class="path-bg"
      cx="24"
      cy="24"
      r="22"
      fill="none"
      stroke-width="4"
      stroke="#eeeeee"
    />
    <circle
      class="path"
      cx="24"
      cy="24"
      r="22"
      fill="none"
      stroke-width="4"
      stroke-miterlimit="10"
      stroke="#F96D00"
    />
  </svg>
</div>
