<!-- tooltip-->
<div class="ca-tooltipx">roll over for full quotes</div>
<app-navbar></app-navbar>

<section
  class="ftco-section ftco-counter"
  id="section-counter"
  style="background-image: url(../../../assets/images/stormzy-youth.jpg);"
  data-stellar-background-ratio="0.5"
>
  <div class="container">
    <div class="row d-md-flex align-items-center">
      <div class="col-lg-12">
        <div class="block-18 text-center">
          <div class="text">
            <h1 style="color:#fff; text-align: justify; font-weight:900;">
              About Us
            </h1>
          </div>
        </div>
      </div>

      <!--
      <div class="col-lg-4">
        <div class="heading-section pl-md-5 heading-section-white">
          <div class="ftco-animate">
            <span class="subheading">Some</span>
            <h2 class="mb-4">Interesting Facts</h2>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="row d-md-flex align-items-center">
          <div
            class="col-md d-flex justify-content-center counter-wrap ftco-animate"
          >
            <div class="block-18 text-center">
              <div class="text">
                <strong class="number" data-number="2000">0</strong>
                <span>Done Works</span>
              </div>
            </div>
          </div>
          <div
            class="col-md d-flex justify-content-center counter-wrap ftco-animate"
          >
            <div class="block-18 text-center">
              <div class="text">
                <strong class="number" data-number="300">0</strong>
                <span>Happy Customers</span>
              </div>
            </div>
          </div>
          <div
            class="col-md d-flex justify-content-center counter-wrap ftco-animate"
          >
            <div class="block-18 text-center">
              <div class="text">
                <strong class="number" data-number="100">0</strong>
                <span>Coffee</span>
              </div>
            </div>
          </div>
          <div
            class="col-md d-flex justify-content-center counter-wrap ftco-animate"
          >
            <div class="block-18 text-center">
              <div class="text">
                <strong class="number" data-number="1000">0</strong>
                <span>Work Hours</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    --></div>
  </div>
</section>

<section
  class="ftco-section ftco-no-pt ftco-no-pb"  
  style="background-image: url(../../../assets/images/home_bg2.jpg); background-size: cover; margin-top:50px;"
>
  <div class="container">
    <div class="row no-gutters">
      <div
        class="col-md-5 p-md-5 img img-2 d-flex justify-content-center align-items-center order-md-last notmobile"
        style="background-image: url(../../../assets/images/logo-for-about-us-300x239.jpg);  position: relative; right: -15px;"
      ></div>
      <div class="col-md-7 wrap-about pt-md-5 ftco-animate">
        <div class="pr-md-3 pr-lg-5 pl-md-5 mr-md-5 mb-5 ca-tooltip-container">
          <div class="slick-carousel-one">
            <div class="services-wrap d-flex ca-tooltip">
              <div
                class="icon d-flex justify-content-center align-items-center"
              >
                <span class="flaticon-innovation"></span>
              </div>

              <div
                class="media-body pl-md-0 pl-4 pr-4 order-md-first text-md-right"
              >
                <div class="ca-quotes">
                  <p>
                    The greatness of a community is most accurately measured by
                    the compassionate actions of its members.
                  </p>
                </div>
                <div class="ca-elipsis">...</div>
                <span class="ca-heading">Coretta Scott King</span
                ><span class="ca-subhead"
                  >( (wife of Martin Luther King Jr )</span
                >
              </div>
            </div>
          </div>
          <p>
            From time to time, images of deprivation, crime, disenfranchisement
            and school exclusions in our communities have been thrust into
            millions of homes in the UK followed by buzz words such as, “lack of
            role models”, “single-parent household”, “no father figure”, “lack
            of discipline”, “mental health issues” and so on and so forth. What
            needs to be made clear is that these statements coupled with the
            negative images can lead to harmful stereotyping; especially towards
            the young who live, work and study in these communities. Hardly a
            month goes by before we hear of another young life succumbing to
            knife violence, hardly a month goes by before we’re hearing of yet
            another family mourning the loss of their child, and more often than
            not, it’s a son, and unfortunately, this is not only a reality but
            it hardly allows for some of our media to focus on the more positive
            angles of the community. The narrative needs to change and this is
            what BLAC aims to do.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="testimony-section ftco-no-pt">
  <div class="container-fluid px-4">
    <div class="row justify-content-center pb-3">
      <div
        class="col-md-12 heading-section ftco-animate text-center ca-yellow-msg"
      >
        <p>&nbsp;</p>
        <p>
          <img
            src="../../../assets/images/logo2.png"
            style="vertical-align:bottom;"
          />We cannot even begin to contemplate engaging with our youths without
          knowing their back-stories because without the need to know is the
          need to not care, without the ability to care, we’re in danger of
          stereotyping in the same way some aspects of the media have been
          accused of. In fact, we cannot begin to engage not just with the
          youths but also with places or with others without knowing the story
          and by not knowing and instead making assumptions, denies people of
          their dignity and only succeeds in revealing how much separates us
          than actually unites us and it can also rob people of the ability to
          acknowledge humanity in what should be equal measures. Marcus Mosiah
          Garvey once said,
        </p>
        <h4 class="mb-4">
          “A people without the knowledge of their past history, origin and
          culture is like a tree without roots.”
        </h4>
      </div>
    </div>
  </div>
</section>

<section
  class="ftco-section"
  style="background-image: url(../../../assets/images/home_bg3.jpg); background-size: cover;"
>
  <div class="container">
    <div class="row justify-content-center mb-5 pb-3">
      <div
        class="col-md-5 p-md-5 img img-2 d-flex justify-content-center align-items-center order-md-first notmobile"
        style="background-image: url(../../../assets/images/london-teens-image.png);"
      ></div>
      <div class="col-md-7 heading-section ftco-animate text-justify">
        <p class="mb-4">
          Accepted also is the fact that in the wrong hands, stories have the
          ability to undermine, malign, dispossess and disempower with one fail
          swoop of the tongue or a stroke of the pen depending on the weapon of
          choice but by the same token, stories can create growth, give
          empowerment and humanise. As much as stories can break people’s
          dignities, they can also replace, repair, realign and restore that
          broken dignity.
        </p>

        <p class="mb-4">
          The school-to-prison pipeline is an epidemic that is plaguing schools
          across the nation. Far too often, students are kept in isolation,
          given fix term exclusions or permanently excluded this can even go as
          far as a child being arrested for minor offences that leave visits to
          the headteacher’s office a thing of the past. Statistics reflect that
          these policies disproportionately target students of colour and those
          with a history of abuse, neglect, poverty or learning disabilities.”
          (Cheryl Phoenix, The Black Child Agenda).
        </p>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section ftco-no-pt ftco-no-pb testimony-section">
  <div class="container">
    <div class="row no-gutters">
      <div
        class="col-md-5 p-md-5 img img-2 d-flex justify-content-center align-items-center order-md-last notmobile"
        style="background-image: url(../../../assets/images/stairs_2.jpg);  position: relative; right: -15px;"
      ></div>
      <div class="col-md-7 wrap-about pt-md-5 ftco-animate">
        <div class="pr-md-3 pr-lg-5 pl-md-5 mr-md-5 mb-5 blackfont">
          <p>
            London’s knife epidemic is showing no signs of ending anytime soon,
            with the capital reeling from fatal knife attacks since the early
            hours of 2019.
          </p>
          <p>
            When we at BLAC speak to current and ex-gang members, their world is
            totally different from ours and we need to understand this in order
            to effectively intervene because the journeys of some of these young
            people embroiled in knife crime and gangs are all quite similar;
            excluded from school, no significant role model in their life, move
            from place to place, involved in petty crime very early on, come
            from a household known to social services, mental health problems
            within the family structure and more. At BLAC, we’re aware of the
            pattern. Police have a role to play, but every profession and agency
            also have a role to play in the hope of intervening in the right
            places.
          </p>
          <p>
            Figures also show 25% of victims were black – the highest proportion
            since data was first collected in 1997. The rise in these deaths
            seen in recent years has been most pronounced in male victims and
            those in younger age groups and in part, reflects the increase in
            serious violence in London and other cities where young adults have
            been disproportionately affected.
          </p>
          <p>
            In the year to March 2018 there were 285 murders in England and
            Wales where the method of killing was by a knife or sharp
            instrument, and according to the Office of National Statistics
            (ONS), this was an increase of 73 compared with 2016/17, and the
            highest number since records began at the end of the Second World
            War. The previous high was in 2008, when there were 268 victims.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section
  class="ftco-section"
  style="background-image: url(../../../assets/images/home_bg3.jpg); background-size: cover;"
>
  <div class="container">
    <div class="row justify-content-center mb-5 pb-3">
      <div
        class="col-md-5 p-md-5 img img-2 d-flex justify-content-center align-items-center order-md-first notmobile"
        style="background-image: url(../../../assets/images/london-teens-image.png);"
      ></div>
      <div class="col-md-7 heading-section ftco-animate text-justify">
        <p class="mb-4">
          While many communities are working to promote health, safety and
          wellbeing, many continue to be plagued with persistently high rates of
          trauma. With rates of trauma and its symptoms more prevalent in
          certain parts of the country, trauma can be a barrier to achieving
          community health and wellbeing. There is a growing understanding that
          trauma manifests not only at the individual level, but also at the
          community level, through exposure to both interpersonal violence and
          structural violence, which prevents people and communities from
          meeting their basic needs. Community trauma manifests, for example, as
          a breakdown of social networks, relationships, and positive norms
          across the community.
        </p>
        <p>
          Our aim at BLAC in its entirety is to counter misrepresentative
          observations by highlighting the positives and we do this by providing
          the strategic thinking, community insight and creative excellence
          which produces exceptional relationships between brands and people.
          This event aims to sow the seeds of unity, friendship, understanding
          and enrichment amongst our varied communities. The truth is, we have
          role models in abundance in every one of our communities and BLAC aims
          to help change the narrative by shining the spotlight on those
          wonderful individuals and businesses striving to make our community a
          fabulous place to be proud of.
        </p>
        <p>
          BLAC is an awards ceremony in the United Kingdom which will be
          celebrating excellence and paying tribute to grassroots
          African-Caribbean success stories across all walks of life and was
          borne out of a simple vision; to create an occasion that would honour
          the very best achievements from the community, creating one of our
          most important proceedings of its kind ever to be staged. A
          pioneering, unique and prestigious event which has been over 19 months
          in the planning which will be emphasising achievements and
          highlighting inspirational role models in the fields of business,
          sport, media, mentoring, entertainment, activism, philanthropy, and
          popular arts and culture, offering an array of talented entrepreneurs
          and individuals. This is a perfect opportunity to say a massive “Thank
          You” to those who make our community such a wonderful place to live,
          work and study.
        </p>
      </div>
    </div>
  </div>
</section>
<section class="ftco-section ftco-no-pt ftco-no-pb testimony-section">
  <div class="container">
    <div class="row no-gutters">
      <div
        class="col-md-5 p-md-5 img img-2 d-flex justify-content-center align-items-center order-md-last notmobile"
        style="background-image: url(../../../assets/images/home_bg3_41.jpg);  position: relative; right: -15px;"
      ></div>
      <div class="col-md-7 wrap-about pt-md-5 ftco-animate">
        <div class="pr-md-3 pr-lg-5 pl-md-5 mr-md-5 mb-5 blackfont">
          <p>
            We need to stress and make it abundantly clear that we at BLAC are
            under no illusion whatsoever that an awards ceremony can put an end
            to knife crime, we wish it would; our aim is to create and foster an
            environment which will encourage and invite those who are from
            dysfunctional backgrounds to this prestigious event where they can
            be afforded the opportunity to mix not only with many of their role
            models, but to also meet leaders of industries and dignitaries and
            to see, feel and hear how others (their role models) have strived
            successfully to make better choices with their lives through sheer
            hard work, dedication and perseverance – others who have walked the
            same paths as themselves who have also made bad choices but more
            importantly, found the right choice. It’s all about early
            intervention and the BLAC Awards is another angle which can be
            utilised in so many ways.
          </p>
          <p>
            The magnificent occassion will build a legacy for the
            African-Caribbean communities and through the achievements of our
            winners, inspire the millions who strive to be the best they can and
            we’re honoured to have the interest of so many important figures
            wishing to support this worthwhile occasion.
          </p>
          <hr />
          <p class="text-center">
            The Violent Crime Prevention Board (VCPB), Principal, <strong>Dr. Neville
            Lawrence OBE</strong> (father of murdered Steven Lawrence), Chair, <strong>Dr. Angela
            Herbert MBE</strong> and members of the Board are proud contributors to the
          <strong>BLAC Awards</strong>.
          </p>
          <p class="text-center">
            The VCPB aims to build and promote character, leadership, conflict
            resolution and resilience in the community, connecting with leaders,
            faith-groups, police and key service providers; this is exemplified
            in their motto: ‘Vision to Champion Progress.’ It is this approach
            of empowering individuals and communities, <strong>‘lighting a candle rather
            than cursing the darkness’</strong> and facilitating solutions that make the
            VCPB a relevant important voice in modern crime prevention.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section
  class="ftco-section ftco-counter"
  id="section-counter"
  style="background-image: url(../../../assets/images/stormzy-youth.jpg);"
  data-stellar-background-ratio="0.5"
>
  <div class="container">
    <div class="row d-md-flex align-items-center">
      <div class="col-lg-6">
        <iframe
          width="100%"
          height="300px"
          src="https://www.youtube.com/embed/F1_Y7qpl67I?enablejsapi=1&amp;wmode=opaque"
          frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen=""
          id="player_1"
        ></iframe>
      </div>
      <div class="col-lg-6">
        <div class="block-18 text-center">
          <div class="text">
            <h4 style="color:#fff; text-align: justify;">
              London’s Knife Wars: What’s The Solution – A BBC London
              Documentary Aired in January 2019
            </h4>
            <span style="text-align: justify;"
              >Last year 17 teenagers were stabbed to death in what was the
              deadliest year in a decade in London. Tina Daheley asks the
              police, politicians and an audience of Londoners why some young
              people are turning to knife crime and what can be done to stop the
              number of young lives lost on the capital’s streets.</span
            >
          </div>
        </div>
      </div>

      <!--
      <div class="col-lg-4">
        <div class="heading-section pl-md-5 heading-section-white">
          <div class="ftco-animate">
            <span class="subheading">Some</span>
            <h2 class="mb-4">Interesting Facts</h2>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="row d-md-flex align-items-center">
          <div
            class="col-md d-flex justify-content-center counter-wrap ftco-animate"
          >
            <div class="block-18 text-center">
              <div class="text">
                <strong class="number" data-number="2000">0</strong>
                <span>Done Works</span>
              </div>
            </div>
          </div>
          <div
            class="col-md d-flex justify-content-center counter-wrap ftco-animate"
          >
            <div class="block-18 text-center">
              <div class="text">
                <strong class="number" data-number="300">0</strong>
                <span>Happy Customers</span>
              </div>
            </div>
          </div>
          <div
            class="col-md d-flex justify-content-center counter-wrap ftco-animate"
          >
            <div class="block-18 text-center">
              <div class="text">
                <strong class="number" data-number="100">0</strong>
                <span>Coffee</span>
              </div>
            </div>
          </div>
          <div
            class="col-md d-flex justify-content-center counter-wrap ftco-animate"
          >
            <div class="block-18 text-center">
              <div class="text">
                <strong class="number" data-number="1000">0</strong>
                <span>Work Hours</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    --></div>
  </div>
</section>

<!--
<section class="ftco-section ftco-project" id="projects-section">
  <div class="container-fluid px-4">
    <div class="row justify-content-center mb-5 pb-3">
      <div class="col-lg-6 heading-section text-center ftco-animate">
        <span class="subheading">Projects</span>
        <h2 class="mb-4">Recents Projects</h2>
        <p>
          Far far away, behind the word mountains, far from the countries
          Vokalia and Consonantia, there live the blind texts. Separated they
          live in
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div
          class="project img ftco-animate d-flex justify-content-center align-items-center"
          style="background-image: url(../../../assets/images/project-4.jpg);"
        >
          <div class="overlay"></div>
          <a
            href="#"
            class="btn-site d-flex align-items-center justify-content-center"
            ><span class="icon-subdirectory_arrow_right"></span
          ></a>
          <div class="text text-center p-4">
            <h3><a href="#">Branding &amp; Illustration Design</a></h3>
            <span>Web Design</span>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div
          class="project img ftco-animate d-flex justify-content-center align-items-center"
          style="background-image: url(../../../assets/images/project-5.jpg);"
        >
          <div class="overlay"></div>
          <a
            href="#"
            class="btn-site d-flex align-items-center justify-content-center"
            ><span class="icon-subdirectory_arrow_right"></span
          ></a>
          <div class="text text-center p-4">
            <h3><a href="#">Branding &amp; Illustration Design</a></h3>
            <span>Web Design</span>
          </div>
        </div>
      </div>

      <div class="col-md-8">
        <div
          class="project img ftco-animate d-flex justify-content-center align-items-center"
          style="background-image: url(../../../assets/images/project-1.jpg);"
        >
          <div class="overlay"></div>
          <a
            href="#"
            class="btn-site d-flex align-items-center justify-content-center"
            ><span class="icon-subdirectory_arrow_right"></span
          ></a>
          <div class="text text-center p-4">
            <h3><a href="#">Branding &amp; Illustration Design</a></h3>
            <span>Web Design</span>
          </div>
        </div>

        <div
          class="project img ftco-animate d-flex justify-content-center align-items-center"
          style="background-image: url(../../../assets/images/project-6.jpg);"
        >
          <div class="overlay"></div>
          <a
            href="#"
            class="btn-site d-flex align-items-center justify-content-center"
            ><span class="icon-subdirectory_arrow_right"></span
          ></a>
          <div class="text text-center p-4">
            <h3><a href="#">Branding &amp; Illustration Design</a></h3>
            <span>Web Design</span>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="row">
          <div class="col-md-12">
            <div
              class="project img ftco-animate d-flex justify-content-center align-items-center"
              style="background-image: url(../../../assets/images/project-2.jpg);"
            >
              <div class="overlay"></div>
              <a
                href="#"
                class="btn-site d-flex align-items-center justify-content-center"
                ><span class="icon-subdirectory_arrow_right"></span
              ></a>
              <div class="text text-center p-4">
                <h3><a href="#">Branding &amp; Illustration Design</a></h3>
                <span>Web Design</span>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div
              class="project img ftco-animate d-flex justify-content-center align-items-center"
              style="background-image: url(../../../assets/images/project-3.jpg);"
            >
              <div class="overlay"></div>
              <a
                href="#"
                class="btn-site d-flex align-items-center justify-content-center"
                ><span class="icon-subdirectory_arrow_right"></span
              ></a>
              <div class="text text-center p-4">
                <h3><a href="#">Branding &amp; Illustration Design</a></h3>
                <span>Web Design</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
-->

<!--
<section class="ftco-section testimony-section ftco-no-pt">
  <div class="container-fluid px-4">
    <div class="row ftco-animate">
      <div class="col-md-12 testimony-top">
        <div class="carousel-testimony owl-carousel">
          <div class="item">
            <div class="testimony-wrap p-4 pb-5 text-center">
              <div
                class="user-img mb-5"
                style="background-image: url(../../../assets/images/person_1.jpg)"
              >
                <span
                  class="quote d-flex align-items-center justify-content-center"
                >
                  <i class="icon-quote-left"></i>
                </span>
              </div>
              <div class="text">
                <p class="mb-5">
                  Far far away, behind the word mountains, far from the
                  countries Vokalia and Consonantia, there live the blind texts.
                </p>
                <p class="name">Garreth Smith</p>
                <span class="position">Marketing Manager</span>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimony-wrap p-4 pb-5 text-center">
              <div
                class="user-img mb-5"
                style="background-image: url(../../../assets/images/person_2.jpg)"
              >
                <span
                  class="quote d-flex align-items-center justify-content-center"
                >
                  <i class="icon-quote-left"></i>
                </span>
              </div>
              <div class="text">
                <p class="mb-5">
                  Far far away, behind the word mountains, far from the
                  countries Vokalia and Consonantia, there live the blind texts.
                </p>
                <p class="name">Garreth Smith</p>
                <span class="position">Interface Designer</span>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimony-wrap p-4 pb-5 text-center">
              <div
                class="user-img mb-5"
                style="background-image: url(../../../assets/images/person_3.jpg)"
              >
                <span
                  class="quote d-flex align-items-center justify-content-center"
                >
                  <i class="icon-quote-left"></i>
                </span>
              </div>
              <div class="text">
                <p class="mb-5">
                  Far far away, behind the word mountains, far from the
                  countries Vokalia and Consonantia, there live the blind texts.
                </p>
                <p class="name">Garreth Smith</p>
                <span class="position">UI Designer</span>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimony-wrap p-4 pb-5 text-center">
              <div
                class="user-img mb-5"
                style="background-image: url(../../../assets/images/person_1.jpg)"
              >
                <span
                  class="quote d-flex align-items-center justify-content-center"
                >
                  <i class="icon-quote-left"></i>
                </span>
              </div>
              <div class="text">
                <p class="mb-5">
                  Far far away, behind the word mountains, far from the
                  countries Vokalia and Consonantia, there live the blind texts.
                </p>
                <p class="name">Garreth Smith</p>
                <span class="position">Web Developer</span>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimony-wrap p-4 pb-5 text-center">
              <div
                class="user-img mb-5"
                style="background-image: url(../../../assets/images/person_1.jpg)"
              >
                <span
                  class="quote d-flex align-items-center justify-content-center"
                >
                  <i class="icon-quote-left"></i>
                </span>
              </div>
              <div class="text">
                <p class="mb-5">
                  Far far away, behind the word mountains, far from the
                  countries Vokalia and Consonantia, there live the blind texts.
                </p>
                <p class="name">Garreth Smith</p>
                <span class="position">System Analyst</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center mb-5 pb-3">
      <div class="col-md-12 heading-section ftco-animate text-center">
        <span class="subheading">Testimony</span>
        <h2 class="mb-4">My satisfied customer says</h2>
        <p>
          Far far away, behind the word mountains, far from the countries
          Vokalia and Consonantia, there live the blind texts. Separated they
          live in
        </p>
      </div>
    </div>
  </div>
</section>
-->
<!--
<section class="ftco-section bg-light">
  <div class="container">
    <div class="row justify-content-center mb-5 pb-5">
      <div class="col-md-7 text-center heading-section ftco-animate">
        <span class="subheading">Pricing Plans</span>
        <h2 class="mb-3">Our Best Pricing</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-lg-3 ftco-animate">
        <div class="block-7">
          <div class="text-center">
            <h2 class="heading">Free</h2>
            <span class="price"
              ><sup>$</sup> <span class="number">0</span></span
            >
            <span class="excerpt d-block">100% free. Forever</span>
            <a href="#" class="btn btn-primary d-block px-2 py-3 mb-4"
              >Get Started</a
            >

            <h3 class="heading-2 mb-4">Enjoy All The Features</h3>

            <ul class="pricing-text">
              <li><strong>150 GB</strong> Bandwidth</li>
              <li><strong>100 GB</strong> Storage</li>
              <li><strong>$1.00 / GB</strong> Overages</li>
              <li>All features</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 ftco-animate">
        <div class="block-7">
          <div class="text-center">
            <h2 class="heading">Startup</h2>
            <span class="price"
              ><sup>$</sup> <span class="number">19</span></span
            >
            <span class="excerpt d-block">All features are included</span>
            <a
              href="#"
              class="btn btn-primary btn-outline-primary d-block px-3 py-3 mb-4"
              >Get Started</a
            >

            <h3 class="heading-2 mb-4">Enjoy All The Features</h3>

            <ul class="pricing-text">
              <li><strong>450 GB</strong> Bandwidth</li>
              <li><strong>400 GB</strong> Storage</li>
              <li><strong>$2.00 / GB</strong> Overages</li>
              <li>All features</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 ftco-animate">
        <div class="block-7">
          <div class="text-center">
            <h2 class="heading">Premium</h2>
            <span class="price"
              ><sup>$</sup> <span class="number">49</span></span
            >
            <span class="excerpt d-block">All features are included</span>
            <a
              href="#"
              class="btn btn-primary btn-outline-primary d-block px-3 py-3 mb-4"
              >Get Started</a
            >

            <h3 class="heading-2 mb-4">Enjoy All The Features</h3>

            <ul class="pricing-text">
              <li><strong>250 GB</strong> Bandwidth</li>
              <li><strong>200 GB</strong> Storage</li>
              <li><strong>$5.00 / GB</strong> Overages</li>
              <li>All features</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 ftco-animate">
        <div class="block-7">
          <div class="text-center">
            <h2 class="heading">Pro</h2>
            <span class="price"
              ><sup>$</sup> <span class="number">99</span></span
            >
            <span class="excerpt d-block">All features are included</span>
            <a
              href="#"
              class="btn btn-primary btn-outline-primary d-block px-3 py-3 mb-4"
              >Get Started</a
            >

            <h3 class="heading-2 mb-4">Enjoy All The Features</h3>

            <ul class="pricing-text">
              <li><strong>450 GB</strong> Bandwidth</li>
              <li><strong>400 GB</strong> Storage</li>
              <li><strong>$20.00 / GB</strong> Overages</li>
              <li>All features</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row  mt-5 justify-conten-center">
      <div class="col-md-8 ftco-animate">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi vero
          accusantium sunt sit aliquam ipsum molestias autem perferendis,
          incidunt cumque necessitatibus cum amet cupiditate, ut accusamus.
          Animi, quo. Laboriosam, laborum.
        </p>
      </div>
    </div>
  </div>
</section>
-->

<section class="ftco-section ftco-partner">
  <div class="container">
    <div class="row">
      <div class="col-sm ftco-animate">
        <a href="#" class="partner"
          ><img
            src="../../../assets/images/Alz-logo-A-2019-2.png"
            class="img-fluid"
            alt="BLAC SPONSOR"
        /></a>
      </div>
      <div class="col-sm ftco-animate">
        <a href="#" class="partner"
          ><img
            src="../../../assets/images/Mostly-2.png"
            class="img-fluid"
            alt="BLAC SPONSOR"
        /></a>
      </div>
      <div class="col-sm ftco-animate">
        <a href="#" class="partner"
          ><img
            src="../../../assets/images/jsclogo2_PNG-400x264.png"
            class="img-fluid"
            alt="BLAC SPONSOR"
        /></a>
      </div>
      <div class="col-sm ftco-animate">
        <a href="#" class="partner"
          ><img
            src="../../../assets/images/mayamada-logo-red-2.png"
            class="img-fluid"
            alt="BLAC SPONSOR"
        /></a>
      </div>
      <div class="col-sm ftco-animate">
        <a href="#" class="partner"
          ><img
            src="../../../assets/images/SL-Charitable-Trust.png"
            class="img-fluid"
            alt="BLAC SPONSOR"
        /></a>
      </div>
    </div>
    <div class="row">
      <div class="col-sm ftco-animate">
        <a href="#" class="partner"
          ><img
            src="../../../assets/images/VCP-logo-light-400x197.png"
            class="img-fluid"
            alt="BLAC SPONSOR"
        /></a>
      </div>
      <div class="col-sm ftco-animate">
        <a href="#" class="partner"
          ><img
            src="../../../assets/images/The-Voice-Logo-400x200.png"
            class="img-fluid"
            alt="BLAC SPONSOR"
        /></a>
      </div>
      <div class="col-sm ftco-animate">
        <a href="#" class="partner"
          ><img
            src="../../../assets/images/Gangsline_Logo_2.png"
            class="img-fluid"
            alt="BLAC SPONSOR"
        /></a>
      </div>
      <div class="col-sm ftco-animate">
        <a href="#" class="partner"
          ><img
            src="../../../assets/images/ca-logo-sponsor.png"
            class="img-fluid"
            alt="BLAC SPONSOR"
        /></a>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
<!-- loader -->
<div id="ftco-loader" class="show fullscreen">
  <svg class="circular" width="48px" height="48px">
    <circle
      class="path-bg"
      cx="24"
      cy="24"
      r="22"
      fill="none"
      stroke-width="4"
      stroke="#eeeeee"
    />
    <circle
      class="path"
      cx="24"
      cy="24"
      r="22"
      fill="none"
      stroke-width="4"
      stroke-miterlimit="10"
      stroke="#F96D00"
    />
  </svg>
</div>
