<!-- tooltip-->
<div class="ca-tooltipx">roll over for full quotes</div>
<app-navbar></app-navbar>

<section
  class="ftco-section ftco-counter"
  id="section-counter"
  style="background-image: url(../../../assets/images/stormzy-youth.jpg);"
  data-stellar-background-ratio="0.5"
>
  <div class="container">
    <div class="row d-md-flex align-items-center">
      <div class="col-lg-12">
        <div class="block-18 text-center">
          <div class="text">
            <h1 style="color:#fff; text-align: justify; font-weight:900;">
              Meet A Judge
            </h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section
  class="ftco-section ftco-no-pt ftco-no-pb"
  style="background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url('../../../assets/images/home_bg2.jpg'); background-size: cover;"
>
  <div class="container">
    <div class="row mb-2">
      <div class="col-md-12 pt-md-5 ftco-animate">
        <div class="card flex-md-row mb-4 box-shadow h-md-250 judgeCard">
          <div class="flip-box card-img-left flex-auto d-md-block">
            <div class="flip-box-inner">
              <div class="flip-box-front">
                <img
                  class="card-img-right flex-auto d-md-block"
                  src="../../../assets/images/althea-smith-311x311.jpg"
                  alt="BLAC"
                  style="width:311px;height:311px"
                />
              </div>
              <div class="flip-box-back card-back">
                <h2>Althea Smith</h2>
                <p>Former Mayor of Southwark</p>
              </div>
            </div>
          </div>
          <div class="card-body d-flex flex-column align-items-start judges">
            <h3 class="mb-0">
              <a class="text-dark" href="#">Althea Smith</a>
            </h3>
            <div class="mb-1 text-dark-sub">Former Mayor of Southwark</div>
            <p class="card-text mb-auto">
              Althea Smith’s desire to come into politics was borne out of
              growing up in a high crime area. She was a trusted member of the
              community known for her ability to negotiate between the police
              and members of the community. Having initially chosen a nursing
              career, in 2006 having been a proactive community activist, Althea
              decided to translate the years of grassroots activism into elected
              office.
            </p>
            <p class="card-text mb-auto">
              Althea Smith represented the Nunhead ward in the south London
              borough from 2006 – 2014 and was elected the borough’s first
              citizen in May 2012. She was a popular figure and hundreds of
              people came out at events to pay tribute to her year of service.
              More importantly, she diligently fulfilled her duties, attending
              more than 700 civic engagements throughout the year,”
            </p>
            <p class="card-text mb-auto">
              As a former Councillor and Mayor of Southwark, Althea was and
              still is well acquainted with the problems of the area. Althea
              holds the Vice Chair seat of the Southwark Police Community
              Consultative Group(SPCCG).
            </p>
            <p class="card-text mb-auto">
              Althea Smith<br />
              The aim of the group is to bring the police and community
              together, to overcome the stigma for BME community members to have
              any association with the police and has spent time nurturing young
              people within the area by setting up an apprenticeship scheme and
              also liaises with small businesses in the area
            </p>
            <p class="card-text mb-auto">
              Additionally, Althea’s commitment to community cohesion has
              sometimes taken her to situations others would steer clear from,
              she gained widespread media coverage during the London riots of
              2011 when she personally defended the area from looting and
              property damage.
            </p>
            <p class="card-text mb-auto">
              Althea is aware of the significance of her having been elected to
              Mayor of Southwark, particularly as a member of the ethnic
              minority community, with this is mind, Althea, as former Vice
              Chair of the National Association of Black, Asian and Ethnic
              Minority Councillors is aware that such an organisation was needed
              to create a visible platform on which BME councillors are
              championed to attract other members of the BME community to step
              forward.
            </p>

            <h4 class="card-text mb-auto">
              <a
                href="https://www.obv.org.uk/news-blogs/mayor-southwark-althea-smith-grassroots-activism-elected-office"
                >mayor southwark althea smith grassroots activism elected
                office</a
              >
            </h4>
            <h4>
              <a
                href="https://www.facebook.com/althea.smith.338"
                >https://www.facebook.com/althea.smith.338</a
              >
            </h4>
            
            <br/>
            <a
              href="/judges"
              class="btn btn-danger d-block px-2 py-3 ca-read-btn"
              >Back to the Judges</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section ftco-partner">
  <div class="container">
    <div class="row">
      <div class="col-sm ftco-animate">
        <a href="#" class="partner"
          ><img
            src="../../../assets/images/Alz-logo-A-2019-2.png"
            class="img-fluid"
            alt="BLAC SPONSOR"
        /></a>
      </div>
      <div class="col-sm ftco-animate">
        <a href="#" class="partner"
          ><img
            src="../../../assets/images/Mostly-2.png"
            class="img-fluid"
            alt="BLAC SPONSOR"
        /></a>
      </div>
      <div class="col-sm ftco-animate">
        <a href="#" class="partner"
          ><img
            src="../../../assets/images/jsclogo2_PNG-400x264.png"
            class="img-fluid"
            alt="BLAC SPONSOR"
        /></a>
      </div>
      <div class="col-sm ftco-animate">
        <a href="#" class="partner"
          ><img
            src="../../../assets/images/mayamada-logo-red-2.png"
            class="img-fluid"
            alt="BLAC SPONSOR"
        /></a>
      </div>
      <div class="col-sm ftco-animate">
        <a href="#" class="partner"
          ><img
            src="../../../assets/images/SL-Charitable-Trust.png"
            class="img-fluid"
            alt="BLAC SPONSOR"
        /></a>
      </div>
    </div>
    <div class="row">
      <div class="col-sm ftco-animate">
        <a href="#" class="partner"
          ><img
            src="../../../assets/images/VCP-logo-light-400x197.png"
            class="img-fluid"
            alt="BLAC SPONSOR"
        /></a>
      </div>
      <div class="col-sm ftco-animate">
        <a href="#" class="partner"
          ><img
            src="../../../assets/images/The-Voice-Logo-400x200.png"
            class="img-fluid"
            alt="BLAC SPONSOR"
        /></a>
      </div>
      <div class="col-sm ftco-animate">
        <a href="#" class="partner"
          ><img
            src="../../../assets/images/Gangsline_Logo_2.png"
            class="img-fluid"
            alt="BLAC SPONSOR"
        /></a>
      </div>
      <div class="col-sm ftco-animate">
        <a href="#" class="partner"
          ><img
            src="../../../assets/images/ca-logo-sponsor.png"
            class="img-fluid"
            alt="BLAC SPONSOR"
        /></a>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>

<!-- loader -->
<div id="ftco-loader" class="show fullscreen">
  <svg class="circular" width="48px" height="48px">
    <circle
      class="path-bg"
      cx="24"
      cy="24"
      r="22"
      fill="none"
      stroke-width="4"
      stroke="#eeeeee"
    />
    <circle
      class="path"
      cx="24"
      cy="24"
      r="22"
      fill="none"
      stroke-width="4"
      stroke-miterlimit="10"
      stroke="#F96D00"
    />
  </svg>
</div>
