<!-- tooltip-->
<div class="ca-tooltipx">roll over for full quotes</div>
<app-navbar></app-navbar>

<section
  class="ftco-section ftco-counter"
  id="section-counter"
  style="background-image: url(../../../assets/images/stormzy-youth.jpg);"
  data-stellar-background-ratio="0.5"
>
  <div class="container">
    <div class="row d-md-flex align-items-center">
      <div class="col-lg-12">
        <div class="block-18 text-center">
          <div class="text">
            <h1 style="color:#fff; text-align: justify; font-weight:900;">
              Meet A Judge
            </h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section
  class="ftco-section ftco-no-pt ftco-no-pb"
  style="background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url('../../../assets/images/home_bg2.jpg'); background-size: cover;"
>
  <div class="container">
    <div class="row mb-2">
      <div class="col-md-12 pt-md-5 ftco-animate">
        <div class="card flex-md-row mb-4 box-shadow h-md-250 judgeCard">
          <div class="flip-box card-img-left flex-auto d-md-block">
            <div class="flip-box-inner">
              <div class="flip-box-front">
                <img
                  class="card-img-right flex-auto d-md-block"
                  src="../../../assets/images/nana-1-300x300.png"
                  alt="BLAC"
                  style="width:311px;height:311px"
                />
              </div>
              <div class="flip-box-back card-back">
                <h2>Nana Marfo</h2>
                <p>Enablement Employment Support Officer</p>
              </div>
            </div>
          </div>
          <div class="card-body d-flex flex-column align-items-start judges">
            <h3 class="mb-0">
              <a class="text-dark" href="#">Nana Marfo</a>
            </h3>
            <div class="mb-1 text-dark-sub">
              Enablement Employment Support Officer
            </div>
            <p class="card-text mb-auto">
              Nana Marfo is a ground-breaking miracle who has dedicated his life
              to giving others with disabilities a voice within employment. Born
              6 months premature with a narrow airway, Nana had to fight for his
              existence due to his airway having a really narrow airway impacted
              on his tiny body. Nana has had a roller coaster life living with a
              disability since birth which goes by the name of tracheotomy which
              is a tube that enables him to speak and breathe independently
              without any extra aids.
            </p>
            <p class="card-text mb-auto">
              Growing up, Nana had a lot of barriers but the main one which
              affected him the most was acceptance and acknowledgement within
              society by peers and even his own family. As no one in his family
              had ever suffered this condition, he was often judged based on his
              appearance and breathing.
            </p>
            <p class="card-text mb-auto">
              In his mid 20’s, he found out that due to an unconscious mindset,
              his father had asked the doctor to terminate him due to his
              disability. This news really shaped Nana’s decision to start
              fighting for the rights of disabled people especially through his
              own experience with society and his employment experience. This
              experience enabled the birth of his social enterprise company
              ‘Unique Abilities Ltd,’ a company he set up to give people with
              disabilities a voice within employment.
            </p>
            <p class="card-text mb-auto">
              Nana feels very passionate and feels we all deserve to be treated
              equally and openly and his strongest point is educating others who
              have barriers to know their rights as disabled people and not to
              leave anything to the employer.
            </p>
            <p class="card-text mb-auto">
              Today Nana continues to inspire and empower people as an
              Enablement Employment Support Officer where he works on a scheme
              called the POC (Proof of Concept). This scheme was the initiative
              of the Department for Work and Pensions to enable people with
              disabilities to gain employment and really focus on increasing
              disabled people’s presence within the workforce by 2029.
            </p>
            <p class="card-text mb-auto">
              Nana has turned a lot of people with disabilities life around by
              enabling them to a path of employment, assisting with in-work
              support using the employment support model and an external company
              called APPA. However, all this wouldn’t be possible if he hadn’t
              been selfless and used his own experience of being a civil servant
              and disabled as a way to educate others especially through his own
              experience within society and through his employment experience as
              a civil servant with an impressive CV working for Department of
              work pensions as a personal adviser, then HMRC as a tax offshore
              Officer, and in his later years of a 10 year career working as an
              immigration caseworker within the Home Office.
            </p>
            <p class="card-text mb-auto">
              Nana says “people with disabilities make a massive contribution to
              society and employment is a fundamental life change, in enabling a
              person with barrier to really feel a part of society no one should
              be isolated or treated indifference”
            </p>
            <p class="card-text mb-auto">
              #DisabledButAble is Nana’s slogan as he sees all people are abled
              regardless of barrier, “we are all uniquely talented and with
              support can be a credit to an employer” And on a global scale can
              really improve the social model on disability.
            </p>
            <h4 class="card-text mb-auto">
              <a href="twitter.com/Mr_Unique_Voice"
                >twitter.com/Mr_Unique_Voice</a
              >
            </h4>
            <br/>
            <a
              href="/judges"
              class="btn btn-danger d-block px-2 py-3 ca-read-btn"
              >Back to the Judges</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section ftco-partner">
  <div class="container">
    <div class="row">
      <div class="col-sm ftco-animate">
        <a href="#" class="partner"
          ><img
            src="../../../assets/images/Alz-logo-A-2019-2.png"
            class="img-fluid"
            alt="BLAC SPONSOR"
        /></a>
      </div>
      <div class="col-sm ftco-animate">
        <a href="#" class="partner"
          ><img
            src="../../../assets/images/Mostly-2.png"
            class="img-fluid"
            alt="BLAC SPONSOR"
        /></a>
      </div>
      <div class="col-sm ftco-animate">
        <a href="#" class="partner"
          ><img
            src="../../../assets/images/jsclogo2_PNG-400x264.png"
            class="img-fluid"
            alt="BLAC SPONSOR"
        /></a>
      </div>
      <div class="col-sm ftco-animate">
        <a href="#" class="partner"
          ><img
            src="../../../assets/images/mayamada-logo-red-2.png"
            class="img-fluid"
            alt="BLAC SPONSOR"
        /></a>
      </div>
      <div class="col-sm ftco-animate">
        <a href="#" class="partner"
          ><img
            src="../../../assets/images/SL-Charitable-Trust.png"
            class="img-fluid"
            alt="BLAC SPONSOR"
        /></a>
      </div>
    </div>
    <div class="row">
      <div class="col-sm ftco-animate">
        <a href="#" class="partner"
          ><img
            src="../../../assets/images/VCP-logo-light-400x197.png"
            class="img-fluid"
            alt="BLAC SPONSOR"
        /></a>
      </div>
      <div class="col-sm ftco-animate">
        <a href="#" class="partner"
          ><img
            src="../../../assets/images/The-Voice-Logo-400x200.png"
            class="img-fluid"
            alt="BLAC SPONSOR"
        /></a>
      </div>
      <div class="col-sm ftco-animate">
        <a href="#" class="partner"
          ><img
            src="../../../assets/images/Gangsline_Logo_2.png"
            class="img-fluid"
            alt="BLAC SPONSOR"
        /></a>
      </div>
      <div class="col-sm ftco-animate">
        <a href="#" class="partner"
          ><img
            src="../../../assets/images/ca-logo-sponsor.png"
            class="img-fluid"
            alt="BLAC SPONSOR"
        /></a>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
<!-- loader -->
<div id="ftco-loader" class="show fullscreen">
  <svg class="circular" width="48px" height="48px">
    <circle
      class="path-bg"
      cx="24"
      cy="24"
      r="22"
      fill="none"
      stroke-width="4"
      stroke="#eeeeee"
    />
    <circle
      class="path"
      cx="24"
      cy="24"
      r="22"
      fill="none"
      stroke-width="4"
      stroke-miterlimit="10"
      stroke="#F96D00"
    />
  </svg>
</div>
