/* You can add global styles to this file, and also import other style files */
@import "assets/css/open-iconic-bootstrap.min.css";
@import "assets/css/animate.css";

// @import "assets/css/owl.carousel.min.css";
// @import "assets/css/owl.theme.default.min.css";
@import "~ngx-owl-carousel-o/lib/styles/scss/owl.carousel";
@import "~ngx-owl-carousel-o/lib/styles/scss/owl.theme.default";
@import "assets/css/magnific-popup.css";

@import "assets/css/aos.css";

@import "assets/css/ionicons.min.css";

@import "assets/css/bootstrap-datepicker.css";
@import "assets/css/jquery.timepicker.css";
@import "assets/css/flaticon.css";
@import "assets/css/icomoon.css";
@import "~@angular/cdk/overlay-prebuilt.css";
@import "assets/css/style";

.notmobile {
  display: none !important;
  @media (min-width: 768px) {
    display: block !important;
  }
}
.mobile {
  display: block !important;
  @media (min-width: 768px) {
    display: none !important;
  }
}

.blackfont {
  color: #000;
}

/* Nav Bar */
.ftco-navbar-light .navbar-nav > .nav-item > .nav-link.active:after {
  opacity: 1;
}

.ftco-navbar-light .navbar-brand {
  background: transparent;
}

.ftco-navbar-light {
  img.blac{
    filter: invert(100%);
  }
}
.ftco-navbar-light.scrolled.awake {
  img.blac{
    filter: invert(0%);
  }
}
@media (min-width: 768px) {
  .ftco-navbar-light {
    img.blac{
      filter: invert(0%);
    }
  }
}

/* hero */
.hero-wrap {
  background: #333;
}

.dropdown {
  float: left;
  //overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

/*
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}
*/

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.ca-item-animate {
  opacity: "0";
  visibility: "hidden";
}

.owl-prev,
.owl-next {
  display: none !important;
}

@media (max-width: 767.98px) {
  .head-carousel {
    visibility: hidden;
    position: absolute;
    left: -1000px;
  }
}

.slick-carousel,
.slick-carousel-one {
  overflow: hidden;
  visibility: hidden;
  img {
    width: 200px;
  }
  .ca-quotes {
    position: relative;
    max-height: 54px;
    min-height: 54px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .media-body {
    position: relative;
  }
  .ca-elipsis {
    display: block;
    position: absolute;
    bottom: 26px;
    right: 25px;
    width: 15px;
    background-color: transparent;
    @media (min-width: 768px) {
      right: 16px;
      bottom: 27px;
    }
    @media (min-width: 992px) {
      bottom: 27px;
    }
  }
  .ca-subhead {
    display: none;
    font-size: 8px;
    @media (min-width: 768px) {
      display: none;
      font-size: 9px;
    }
    @media (min-width: 992px) {
      display: inline;
      font-size: 10px;
    }
    @media (min-width: 1200px) {
      display: inline;
      font-size: 12px;
    }
  }
  .ca-heading {
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 9px;
    @media (min-width: 768px) {
      font-size: 9px;
    }
    @media (min-width: 992px) {
      font-size: 13px;
    }
    @media (min-width: 1200px) {
      font-size: 15px;
    }
  }

  .ca-tooltip {
    position: relative;
    display: inline-block;
  }

  .ca-tooltip .ca-tooltiptext {
    visibility: hidden;
    display: block;
    width: 320px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;

    /* Position the tooltip */
    position: absolute;
    // top: -100px;
    z-index: 2000;
  }

  .ca-tooltip:hover .ca-tooltiptext {
    visibility: visible;
    transition: all 0.9s ease;
  }
}
.slick-carousel-one {
  visibility: visible;
  height: 135px;
}
.ca-tooltipx {
  display: none;
  position: relative;
  padding: 0.5em 1em;
  color: #fff;
  width: 300px;
  max-width: 300px;
  background-color: #111;
  box-shadow: 2px 2px 2px #888888;
  z-index: 2000;
  @media (min-width: 768px) {
    display: none;
    position: absolute;
    padding: 0.5em 1em;
    color: #fff;
    width: 300px;
    max-width: 300px;
    background-color: #111;
    box-shadow: 2px 2px 2px #888888;
    z-index: 2000;
  }
}
.ca-yellow-msg {
  p {
    //font-size: 20px;
    text-align: justify;
    color: #000;
    //text-shadow: 0 0 7px #fff, 0 0 7px #fff;
  }
}
.ca-read-btn {
  margin: 0 auto;
  width: 200px;
}

.nav-link {
  font-weight: 800;
}

.ftco-partner .partner {
  filter: grayscale(100%);
  transition: 0.2s ease-in;

  &:hover {
    filter: grayscale(0%);
  }
}

/* Flashing */
.hover13 figure img {
  width: 100%;
}
.hover13 figure:hover img {
  cursor: pointer;
  opacity: 1;
  -webkit-animation: flash 1.5s;
  animation: flash 1.5s;
}
@-webkit-keyframes flash {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
@keyframes flash {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
/* Read More */
.readmoreCard {
  border: none;
  background: rgba(0, 0, 0, 0.7);
  margin-top: 10px;
  .card-text {
    text-align: justify;
    color: #fff;
    margin: 30px 0;
  }
  .ca-read-btn {
    background: rgb(217, 169, 67);
    border: none;
    margin: 20px auto 0;
    @media (min-width: 768px) {
      margin: 0;
    }
  }
  img {
    padding: 20px;
  }
}
/* Judges */
.judgeCard {
  border: none;
  background: rgba(0, 0, 0, 0.1);
  margin-top: 10px;
  .text-dark {
    font-size: 40px;
    font-weight: 900;
  }
  .text-dark-sub {
    color: #eee;
  }
  .card-text {
    text-align: justify;
    color: #fff;
    margin: 30px 0;
  }
  .ca-read-btn {
    background: rgb(217, 169, 67);
    border: none;
    margin: 20px auto 0;
    @media (min-width: 768px) {
      margin: 0;
    }
  }
  img {
    background-color: rgb(0, 0, 0);
    border-color: rgb(217, 169, 67);
    border-radius: 50%;
    border-style: solid;
    border-width: 10px;
    color: rgb(255, 255, 255);
    // margin: 10px;
    // min-height: 339px;
  }

  /* The flip box container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
  .flip-box {
    background-color: transparent;
    width: 311px;
    height: 311px;
    //border: 1px solid #f1f1f1;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
    margin: 10px;
  }

  /* This container is needed to position the front and back side */
  .flip-box-inner {
    position: relative;
    width: 311px;
    height: 311px;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }

  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
  }

  /* Position the front and back side */
  .flip-box-front,
  .flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: transparent;
  }

  /* Style the front side (fallback if image is missing) */
  .flip-box-front {
    background-color: transparent;
    color: black;
  }

  /* Style the back side */
  .flip-box-back {
    background-color: #000;
    border-radius: 50%;
    color: white;
    transform: rotateY(180deg);
    padding-top: 35%;
    h2 {
      color: #fff;
    }
  }
}
.judges {
  font-size: 1.2rem;
}

/* Videos */
.videosCard {
  h2 {
    color: gold;
  }
  border: none;
  background: rgba(0, 0, 0, 0.1);
  .text-dark {
    font-size: 40px;
    font-weight: 900;
  }
  .text-dark-sub {
    color: #eee;
  }
  .card-text {
    text-align: justify;
    color: #fff;
    margin: 30px 0;
  }
  .ca-read-btn {
    background: rgb(217, 169, 67);
    border: none;
    margin: 20px auto 0;
    @media (min-width: 768px) {
      margin: 0;
    }
  }
  img {
    background-color: rgb(0, 0, 0);
    border-color: rgb(217, 169, 67);
    border-radius: 50%;
    border-style: solid;
    border-width: 10px;
    color: rgb(255, 255, 255);
    // margin: 10px;
    // min-height: 339px;
  }

  /* The flip box container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
  .flip-box {
    background-color: transparent;
    width: 311px;
    height: 311px;
    //border: 1px solid #f1f1f1;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
    margin: 10px;
  }

  /* This container is needed to position the front and back side */
  .flip-box-inner {
    position: relative;
    width: 311px;
    height: 311px;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }

  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
  }

  /* Position the front and back side */
  .flip-box-front,
  .flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: transparent;
  }

  /* Style the front side (fallback if image is missing) */
  .flip-box-front {
    background-color: transparent;
    color: black;
  }

  /* Style the back side */
  .flip-box-back {
    background-color: #000;
    border-radius: 50%;
    color: white;
    transform: rotateY(180deg);
    padding-top: 35%;
    h2 {
      color: #fff;
    }
  }
}

/* Nominate */
.nominateCard {
  text-align: center;
  min-width: 300px;
  background-color: transparent;
  padding: 10px;
  &:hover {
    background-color: #333;
    box-shadow: 2px 2px 2px #222;
  }
}

/* Form */
.ca-select {
  height: 52px;
  border-color: #e6e6e6;
  color: #777;
  width: 100%;
}

/* Honour */
.honours {
  h1 {
    font-size: 2rem;
  }
}

/* Poll */
.poll {
  list-style: none;
}
google-chart {
  margin: 0 auto;
  width: calc(100% - 10px) !important;
  @media (min-width: 768px) {
    min-height: 400px !important;
  }
}

.poll-btn {
  color: #fff !important;
  &:hover {
    color: #ddd !important;
  }
  &-disabled {
    color: #ddd !important;
  }
}

/* Modal */
jw-modal {
  /* modals are hidden by default */
  display: none;
  overflow-y: hidden;
  overflow-x: hidden;
  &::-webkit-scrollbar {
    width: 0 !important;
  }

  .jw-modal {
    /* modal container fixed across whole screen */
    /*
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      */
    background-image: url(../src/assets/images/home_bg2.jpg);
    background-size: cover;
    position: fixed;
    float: left;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow-y: hidden;
    overflow-x: hidden;
    &::-webkit-scrollbar {
      width: 0 !important;
    }

    /* z-index must be higher than .jw-modal-background */
    z-index: 1000;

    /* enables scrolling for tall modals */
    overflow: auto;

    .jw-modal-body {
      padding: 20px;
      background: transparent;

      /* margin exposes part of the modal background */
      margin: 0;
      overflow-y: hidden;
      overflow-x: hidden;
      &::-webkit-scrollbar {
        width: 0 !important;
      }
    }
    .jw-modal-body {
      -ms-overflow-style: none;
    }
    .jw-modal-body {
      overflow: -moz-scrollbars-none;
    }
  }

  .jw-modal-background {
    /* modal background fixed across whole screen */
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    /* semi-transparent black  */
    background-color: #000;
    opacity: 0.75;

    /* z-index must be below .jw-modal and above everything else  */
    z-index: 900;
  }
  .jw-modal-background {
    -ms-overflow-style: none;
  }
  .jw-modal-background {
    overflow: -moz-scrollbars-none;
  }
}
jw-modal {
  -ms-overflow-style: none;
}
jw-modal {
  overflow: -moz-scrollbars-none;
}

body.jw-modal-open {
  /* body overflow is hidden to hide main scrollbar when modal window is open */
  overflow: hidden;
}
/* greatness */
.greatness{
  background-image: url(../src/assets/images/blac-people.jpg); position: relative;
  margin-top: 15px;
  @media (min-width: 768px) {
    left: -15px;
    margin-top: 0;
  }
}

/* frank bruno */

.frankbrunocharitypic {
  text-align: center;
  padding-bottom: 30px;
  width: 100%;
  @media (min-width: 768px) {
    float: left;
    padding-bottom: 0;
    padding-right: 15px;
    text-align: left;
    width: auto;
  }
}

.frankbruno {
  background-color: rgba(0, 0, 0, 0.5);
  padding-bottom: 0;
  margin-left: 0;
  color: #fff;
  text-align: center;
  margin-bottom: 0 !important;
  h1,
  h3 {
    color: #fff;
    font-size: 20px;
  }
  @media (min-width: 768px) {
    background-color: rgba(0, 0, 0, 0.5);
    padding-bottom: 30px;
    margin-left: 30px;
    color: #fff;
    float: left;
    margin-bottom: 3rem !important;
    h1,
    h3 {
      color: #fff;
      font-size: 30px;
      text-align: left;
    }
  }
}
.frankbrunofoundation {
  text-align: center;
  h1,
  h3 {
    font-size: 18px;
  }
  img {
    width: 100%;
  } 
  @media (min-width: 768px) {
    margin-left: 30px;
    text-align: left;
    float: left;
    padding: 45px;
    background-color: rgba(0, 0, 0, 0.4);
    margin-right: 48px;
    h3 {
      font-size: 30px;
    }
    img {
      width: 331px;
    }
  }
}
.frankbrunopic {
  padding: 0;
  @media (min-width: 768px) {
    padding: 45px 30px 0 0 !important;
  }
}
