<!-- tooltip-->
<div class="ca-tooltipx">roll over for full quotes</div>
<app-navbar></app-navbar>

<section
  class="ftco-section ftco-counter"
  id="section-counter"
  style="background-image: url(../../../assets/images/stormzy-youth.jpg);"
  data-stellar-background-ratio="0.5"
>
  <div class="container">
    <div class="row d-md-flex align-items-center">
      <div class="col-lg-12">
        <div class="block-18 text-center">
          <div class="text">
            <h1 style="color:#fff; text-align: justify; font-weight:900;">
              Feeling of Association
            </h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section
  class="ftco-section ftco-no-pt ftco-no-pb"
  style="background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url('../../../assets/images/home_bg2.jpg'); background-size: cover;"
>
  <div class="container">
    <div class="row mb-2">
      <div class="col-md-12 pt-md-5 ftco-animate">
        <div class="card flex-md-row mb-4 box-shadow h-md-250 readmoreCard">
          <div class="card-body d-flex flex-column align-items-start">
            <p class="text-white">
              Our security within a community comes from a strong natural human
              instinct of wanting to associate with one another. As a general
              rule, we tend to associate ourselves with people with similar
              principals and morals which make for a stronger sense of
              association.
            </p>
            <p class="text-white">
              Without this feeling, we would not embrace each other’s beliefs
              and culture, or even the desire to learn new things from one
              another and this would make us introvert, stubborn and ignorant in
              a world where we merely focus on the differences. Associating
              ourselves with like-minded people can help in making a peaceful
              and progressive society and community as well as making it lively
              and a vibrant.
            </p>
            <p class="text-white">
              Without this strength of belonging, there is lacking of peace
              which would lead to numerous problems which the community
              themselves would have to pick up. If we don’t have the ability to
              do something, we communicate with someone who can, thus creating a
              potential link be it professional or personal. This cooperation
              begins at home and as we grow it spreads to a strong feeling of
              unity.
            </p>
          </div>
          <div class="flip-box card-img-right flex-auto d-md-block">
            <div class="flip-box-inner">
              <div class="flip-box-front">
                <img
                  class="card-img-right flex-auto d-md-block"
                  src="https://www.blac.org.uk/wp-content/uploads/2019/04/Jam1.jpg"
                  alt="BLAC"
                  style="width:311px;height:311px"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section ftco-partner">
  <div class="container">
    <div class="row">
      <div class="col-sm ftco-animate">
        <a href="#" class="partner"
          ><img
            src="../../../assets/images/Alz-logo-A-2019-2.png"
            class="img-fluid"
            alt="BLAC SPONSOR"
        /></a>
      </div>
      <div class="col-sm ftco-animate">
        <a href="#" class="partner"
          ><img
            src="../../../assets/images/Mostly-2.png"
            class="img-fluid"
            alt="BLAC SPONSOR"
        /></a>
      </div>
      <div class="col-sm ftco-animate">
        <a href="#" class="partner"
          ><img
            src="../../../assets/images/jsclogo2_PNG-400x264.png"
            class="img-fluid"
            alt="BLAC SPONSOR"
        /></a>
      </div>
      <div class="col-sm ftco-animate">
        <a href="#" class="partner"
          ><img
            src="../../../assets/images/mayamada-logo-red-2.png"
            class="img-fluid"
            alt="BLAC SPONSOR"
        /></a>
      </div>
      <div class="col-sm ftco-animate">
        <a href="#" class="partner"
          ><img
            src="../../../assets/images/SL-Charitable-Trust.png"
            class="img-fluid"
            alt="BLAC SPONSOR"
        /></a>
      </div>
    </div>
    <div class="row">
      <div class="col-sm ftco-animate">
        <a href="#" class="partner"
          ><img
            src="../../../assets/images/VCP-logo-light-400x197.png"
            class="img-fluid"
            alt="BLAC SPONSOR"
        /></a>
      </div>
      <div class="col-sm ftco-animate">
        <a href="#" class="partner"
          ><img
            src="../../../assets/images/The-Voice-Logo-400x200.png"
            class="img-fluid"
            alt="BLAC SPONSOR"
        /></a>
      </div>
      <div class="col-sm ftco-animate">
        <a href="#" class="partner"
          ><img
            src="../../../assets/images/Gangsline_Logo_2.png"
            class="img-fluid"
            alt="BLAC SPONSOR"
        /></a>
      </div>
      <div class="col-sm ftco-animate">
        <a href="#" class="partner"
          ><img
            src="../../../assets/images/ca-logo-sponsor.png"
            class="img-fluid"
            alt="BLAC SPONSOR"
        /></a>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
<!-- loader -->
<div id="ftco-loader" class="show fullscreen">
  <svg class="circular" width="48px" height="48px">
    <circle
      class="path-bg"
      cx="24"
      cy="24"
      r="22"
      fill="none"
      stroke-width="4"
      stroke="#eeeeee"
    />
    <circle
      class="path"
      cx="24"
      cy="24"
      r="22"
      fill="none"
      stroke-width="4"
      stroke-miterlimit="10"
      stroke="#F96D00"
    />
  </svg>
</div>
