<app-navbar></app-navbar>
<section
  class="ftco-section ftco-counter"
  id="section-counter"
  style="background-image: url(../../../assets/images/stormzy-youth.jpg);"
  data-stellar-background-ratio="0.5"
>
  <div class="container">
    <div class="row d-md-flex align-items-center">
      <div class="col-lg-12">
        <div class="block-18 text-center">
          <div class="text">
            <h1 style="color:#fff; text-align: justify; font-weight:900;">
              Honours Of Distinction
            </h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section ftco-no-pt ftco-no-pb testimony-section" style="margin-top:50px">
  <div class="container">
    <div class="row no-gutters">
      <div
        class="col-md-5 p-md-5 img img-2 d-flex justify-content-center align-items-center order-md-last notmobile"
        style="background-image: url(../../../assets/images/africasocietyteam.jpg); background-size:cover; position: relative; right: -15px;"
      ></div>
      <div class="col-md-7 wrap-about pt-md-5 ftco-animate">
        <div class="pr-md-3 pr-lg-5 pl-md-5 mr-md-5 mb-5 blackfont honours">
          <h1 style="color:#fff; font-weight:900;">
            How to Vote:
          </h1>
          <p class="mb-4">
            <strong>Honours Of Distinction</strong> is where the organisers have
            chosen specific figures from within the UK who have played a major
            and often, historical part in the African-Caribbean communities
            which has made an indelible mark in the community with such
            distinction, it simply merited its own entry. Making a nomination in
            the Bright Lights Nominations category does not stop you from also
            making a vote in the Honours Of Distinction category; in fact, we
            positively welcome you to do both.
          </p>
          <p>
            Please select from one or all of the categories to vote. You can
            click here to find out more about our nominees.
          </p>
          <h1 style="color:#fff; text-align: justify; font-weight:900;">
            Lifetime Achievement
          </h1>
          <ul>
            <li>Hope Powell</li>
            <li>Ranking Miss P</li>
            <li>Linton Kwesi Johnson</li>
          </ul>
          <h1 style="color:#fff; text-align: justify; font-weight:900;">
            Posthumous Award
          </h1>
          <ul>
            <li>Felix Dexter</li>
            <li>Olive Morris</li>
            <li>Cadet</li>
          </ul>
          <h1 style="color:#fff; text-align: justify; font-weight:900;">
            Community Achievement
          </h1>
          <ul>
            <li>Zita Holbourne</li>
            <li>Akala</li>
            <li>Nubian Jak</li>
          </ul>
          <h4 style="color:#fff; text-align: justify; font-weight:900;">
            Special Recognition Award To Be Announced On the Night
          </h4>
        </div>
      </div>
    </div>
  </div>
</section>

<section
  class="ftco-section bg-dark"
  style="background-image: url(../../../assets/images/home_bg3.jpg); background-size: cover;"
>
  <div class="container">
    <div class="row justify-content-center mb-5 pb-3">
      <div class="col-md-7 heading-section ftco-animate text-center">
        <h2 class="mb-4">Voting Nominees</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-lg-12 ftco-animate text-center">
        <h1>Lifetime Achievement</h1>
      </div>
      <div class="col-md-6 col-lg-4 ftco-animate">
        <div class="staff text-center">
          <div
            class="img"
            style="background-image: url(../../../assets/images/Hope-Powel-245x247l.jpg);"
          ></div>
          <div class="text pt-4">
            <h3>Hope</h3>
            <a
              [className]="
                voted
                  ? 'btn btn-primary py-3 px-5 disabled poll-btn-disabled'
                  : 'btn btn-primary py-3 px-5 poll-btn'
              "
              (click)="vote('Hope')"
            >
              Vote
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 ftco-animate">
        <div class="staff text-center">
          <div
            class="img"
            style="background-image: url(../../../assets/images/Ranking-Miss-P_Voting.jpg);"
          ></div>
          <div class="text pt-4">
            <h3>Miss P</h3>
            <a
              [className]="
                voted
                  ? 'btn btn-primary py-3 px-5 disabled poll-btn-disabled'
                  : 'btn btn-primary py-3 px-5 poll-btn'
              "
              (click)="vote('Miss P')"
            >
              Vote
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 ftco-animate">
        <div class="staff text-center">
          <div
            class="img"
            style="background-image: url(../../../assets/images/Voting4_Linton.jpg);"
          ></div>
          <div class="text pt-4">
            <h3>Linton</h3>
            <a
              [className]="
                voted
                  ? 'btn btn-primary py-3 px-5 disabled poll-btn-disabled'
                  : 'btn btn-primary py-3 px-5 poll-btn'
              "
              (click)="vote('Linton')"
            >
              Vote
            </a>
          </div>
        </div>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-md-12 col-lg-12 ftco-animate text-center">
        <h1>Posthumous Award</h1>
      </div>
      <div class="col-md-6 col-lg-4 ftco-animate">
        <div class="staff text-center">
          <div
            class="img"
            style="background-image: url(../../../assets/images/Felix-245x247.jpg);"
          ></div>
          <div class="text pt-4">
            <h3>Felix</h3>
            <a
              [className]="
                voted2
                  ? 'btn btn-primary py-3 px-5 disabled poll-btn-disabled'
                  : 'btn btn-primary py-3 px-5 poll-btn'
              "
              (click)="vote2('Felix')"
            >
              Vote
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 ftco-animate">
        <div class="staff text-center">
          <div
            class="img"
            style="background-image: url(../../../assets/images/Voting6_Olive.jpg);"
          ></div>
          <div class="text pt-4">
            <h3>Olive</h3>
            <a
              [className]="
                voted2
                  ? 'btn btn-primary py-3 px-5 disabled poll-btn-disabled'
                  : 'btn btn-primary py-3 px-5 poll-btn'
              "
              (click)="vote2('Olive')"
            >
              Vote
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 ftco-animate">
        <div class="staff text-center">
          <div
            class="img"
            style="background-image: url(../../../assets/images/Cadet-245x247.jpg);"
          ></div>
          <div class="text pt-4">
            <h3>Cadet</h3>
            <a
              [className]="
                voted2
                  ? 'btn btn-primary py-3 px-5 disabled poll-btn-disabled'
                  : 'btn btn-primary py-3 px-5 poll-btn'
              "
              (click)="vote2('Cadet')"
            >
              Vote
            </a>
          </div>
        </div>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-md-12 col-lg-12 ftco-animate text-center">
        <h1>Community Achievement</h1>
      </div>
      <div class="col-md-6 col-lg-4 ftco-animate">
        <div class="staff text-center">
          <div
            class="img"
            style="background-image: url(../../../assets/images/Voting9_Zita2.jpg);"
          ></div>
          <div class="text pt-4">
            <h3>Zita</h3>
            <a
              [className]="
                voted3
                  ? 'btn btn-primary py-3 px-5 disabled poll-btn-disabled'
                  : 'btn btn-primary py-3 px-5 poll-btn'
              "
              (click)="vote3('Zita')"
            >
              Vote
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 ftco-animate">
        <div class="staff text-center">
          <div
            class="img"
            style="background-image: url(../../../assets/images/Akala-254x247.jpg);"
          ></div>
          <div class="text pt-4">
            <h3>Akala</h3>
            <a
              [className]="
                voted3
                  ? 'btn btn-primary py-3 px-5 disabled poll-btn-disabled'
                  : 'btn btn-primary py-3 px-5 poll-btn'
              "
              (click)="vote3('Akala')"
            >
              Vote
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 ftco-animate">
        <div class="staff text-center">
          <div
            class="img"
            style="background-image: url(../../../assets/images/Voting5_Nubian.jpg);"
          ></div>
          <div class="text pt-4">
            <h3>Jak</h3>
            <a
              [className]="
                voted3
                  ? 'btn btn-primary py-3 px-5 disabled poll-btn-disabled'
                  : 'btn btn-primary py-3 px-5 poll-btn'
              "
              (click)="vote3('Jak')"
            >
              Vote
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section ftco-partner">
  <div class="container">
    <div class="row">
      <div class="col-sm ftco-animate">
        <a href="#" class="partner"
          ><img
            src="../../../assets/images/Alz-logo-A-2019-2.png"
            class="img-fluid"
            alt="BLAC SPONSOR"
        /></a>
      </div>
      <div class="col-sm ftco-animate">
        <a href="#" class="partner"
          ><img
            src="../../../assets/images/Mostly-2.png"
            class="img-fluid"
            alt="BLAC SPONSOR"
        /></a>
      </div>
      <div class="col-sm ftco-animate">
        <a href="#" class="partner"
          ><img
            src="../../../assets/images/jsclogo2_PNG-400x264.png"
            class="img-fluid"
            alt="BLAC SPONSOR"
        /></a>
      </div>
      <div class="col-sm ftco-animate">
        <a href="#" class="partner"
          ><img
            src="../../../assets/images/mayamada-logo-red-2.png"
            class="img-fluid"
            alt="BLAC SPONSOR"
        /></a>
      </div>
      <div class="col-sm ftco-animate">
        <a href="#" class="partner"
          ><img
            src="../../../assets/images/SL-Charitable-Trust.png"
            class="img-fluid"
            alt="BLAC SPONSOR"
        /></a>
      </div>
    </div>
    <div class="row">
      <div class="col-sm ftco-animate">
        <a href="#" class="partner"
          ><img
            src="../../../assets/images/VCP-logo-light-400x197.png"
            class="img-fluid"
            alt="BLAC SPONSOR"
        /></a>
      </div>
      <div class="col-sm ftco-animate">
        <a href="#" class="partner"
          ><img
            src="../../../assets/images/The-Voice-Logo-400x200.png"
            class="img-fluid"
            alt="BLAC SPONSOR"
        /></a>
      </div>
      <div class="col-sm ftco-animate">
        <a href="#" class="partner"
          ><img
            src="../../../assets/images/Gangsline_Logo_2.png"
            class="img-fluid"
            alt="BLAC SPONSOR"
        /></a>
      </div>
      <div class="col-sm ftco-animate">
        <a href="#" class="partner"
          ><img
            src="../../../assets/images/ca-logo-sponsor.png"
            class="img-fluid"
            alt="BLAC SPONSOR"
        /></a>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
<ngx-snackbar [position]="'bottom-center'" [max]="3"></ngx-snackbar>
<!-- loader -->
<div id="ftco-loader" class="show fullscreen">
  <svg class="circular" width="48px" height="48px">
    <circle
      class="path-bg"
      cx="24"
      cy="24"
      r="22"
      fill="none"
      stroke-width="4"
      stroke="#eeeeee"
    />
    <circle
      class="path"
      cx="24"
      cy="24"
      r="22"
      fill="none"
      stroke-width="4"
      stroke-miterlimit="10"
      stroke="#F96D00"
    />
  </svg>
</div>
