<app-navbar></app-navbar>

<section
  class="ftco-section ftco-counter"
  id="section-counter"
  style="background-image: url(../../../assets/images/stormzy-youth.jpg);"
  data-stellar-background-ratio="0.5"
>
  <div class="container">
    <div class="row d-md-flex align-items-center">
      <div class="col-lg-12">
        <div class="block-18 text-center">
          <div class="text">
            <h1 style="color:#fff; text-align: justify; font-weight:900;">
              Videos
            </h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="testimony-section ftco-no-pt">
  <div class="container-fluid px-4">
    <div class="row justify-content-center pb-3">
      <div
        class="col-md-12 heading-section ftco-animate text-center ca-yellow-msg"
      >
        <p>&nbsp;</p>
        <p>
          In order to gain an understanding of some of the issues relating to
          the youths and serious youth violence, we’ve carefully selected what
          we hope will be some insightful viewing material.
        </p>
        <h1 style="color:#fff; font-weight:900;">
          The #VCPBLaunch Event
        </h1>
        <div style="text-align: center;">
          <iframe
            width="994"
            height="394"
            src="https://www.youtube.com/embed/umtG03uUL84"
            frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
        </div>
        <p>
          Welcome to the VCP movement! This is the exclusive behind-the-scenes
          footage from our #VCPBLaunch event on Wednesday, September 26, 2018.
          The evening was a great success, with lots of motivational and
          inspiring talks from our guest speakers, including: Dr Hugh Osgood,
          Amani Simpson, Met Police Commissioner Cressida Dick, Radio Host Eddie
          Nestor and more. The VCP board members spent the evening networking
          and building vital bridges to help support our movement. Now the
          launch is over, it’s time to put in the real work, and you will see a
          lot more exciting content from our channel and social media platforms.
        </p>
      </div>
    </div>
  </div>
</section>
<section
  class="ftco-section ftco-no-pt ftco-no-pb"
  style="color:#fff; background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3) ), url('../../../assets/images/footer_bg1.png'); background-size: cover;"
>
  <div class="container">
    <div class="row mb-2">
      <div class="col-md-12 pt-md-5 ftco-animate">
        <div class="card flex-md-row mb-4 box-shadow h-md-250 videosCard">
          <div class="container">
            <div class="row">
              <div class="col-md">
                <h2>
                  AMANI | Drama Short Film (2019) – Based On A True Story | MYM
                </h2>

                <iframe
                  style="width:100%; height:300px"
                  src="https://www.youtube.com/embed/Jm6PwChWiJ8"
                  frameborder="0"
                  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen
                ></iframe>
                <p>
                  Based on a true story from Amani Simpson, ‘AMANI’ is the
                  latest short from Joivan Wade (The First Purge, Shiro’s Story,
                  Deep It & Mandem On The Wall) – The film depicts the inner
                  reflections of a young man battling with his faith after being
                  stabbed seven times. The vision is that this will be much more
                  than a film, but rather a movement to strengthen the
                  discussion and debate towards the end of the knife crime
                  epidemic plaguing the lives of our young people and adults
                  across the country. If you enjoy the film and agree with its
                  messages don’t forget to please share the film with a friend,
                  family member, colleague or even a complete stranger!
                </p>
              </div>
              <div class="col-md">
                <h2>
                  Should There Be a Boost in Stop and Search to Tackle Knife
                  Crime?
                </h2>
                <iframe
                  style="width:100%; height:300px"
                  src="https://www.youtube.com/embed/yeEKIfYkkUQ"
                  frameborder="0"
                  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen
                ></iframe>
                <p>
                  At least 35 under 20-year-olds have died this year due to
                  knife crime. Alison Cope, Justin Finlayson and his son Rico,
                  Pastor Lorraine Jones, Omar Sharif, Leroy Logan, Duncan Bew
                  and Will Linden debate whether or not stop and search tactics
                  from the police are effective enough to help tackle the rising
                  issue of knife crime.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row mb-2">
      <div class="col-md-12 pt-md-5 ftco-animate">
        <div class="card flex-md-row mb-4 box-shadow h-md-250 videosCard">
          <div class="container">
            <div class="row">
              <div class="col-md">
                <h2>
                  Don’t Call It Road Rap – A Noisey Film (Full Length)
                </h2>
                <iframe
                  style="width:100%; height:300px"
                  src="https://www.youtube.com/embed/xn-70oSrLgA"
                  frameborder="0"
                  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen
                ></iframe>
                <p>
                  ‘Don’t Call It Road Rap’ hosted by legend of UK music Mike
                  Skinner, was filmed around London over a year, investigating
                  the explosion of UK rap and follows some of the most important
                  MCs as they try to focus on music and keep their lives on a
                  positive track. The film features the likes of Section Boyz, C
                  Biz, 67, Corleone, Potter Payper and Skore Beezy.
                </p>
              </div>
              <div class="col-md">
                <h2>
                  The Bugzy Malone Show – Episode 1 ‘King of the North’
                </h2>
                <iframe
                  style="width:100%; height:300px"
                  src="https://www.youtube.com/embed/9RDM2y5ZFOc"
                  frameborder="0"
                  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen
                ></iframe>
                <p>
                  Bugzy Malone takes you on a journey of his life in the first
                  episode of ‘The Bugzy Malone Show’.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row mb-2">
      <div class="col-md-12 pt-md-5 ftco-animate">
        <div class="card flex-md-row mb-4 box-shadow h-md-250 videosCard">
          <div class="container">
            <div class="row">
              <div class="col-md">
                <h2>
                  Bugzy Malone – SECTION 8(1) – CHAPTER 3 (I suggest)
                </h2>
                <iframe
                  style="width:100%; height:300px"
                  src="https://www.youtube.com/embed/J37b3_Gb4Kw"
                  frameborder="0"
                  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen
                ></iframe>
                <p>
                  One of the many biographical music video featuring
                  Manchester’s finest, Bugzy Malone and shot on location in a
                  HMP.
                </p>
              </div>
              <div class="col-md">
                <h2>
                  Stella Creasy Names Every Londoner Killed by a Knife This Year
                  So Far
                </h2>
                <iframe
                  style="width:100%; height:300px"
                  src="https://www.youtube.com/embed/vceo0EcE9EA"
                  frameborder="0"
                  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen
                ></iframe>
                <p>
                  Labour MP Stella Creasy has urged the home secretary, Sajid
                  Javid, to launch an emergency response to knife crime by
                  telling the Commons of every Londoner stabbed to death in 2019
                  so far. A harrowing ‘roll call’ of every life lost instead of
                  statistics with no face and no substance.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row mb-2">
      <div class="col-md-12 pt-md-5 ftco-animate">
        <div class="card flex-md-row mb-4 box-shadow h-md-250 videosCard">
          <div class="container">
            <div class="row">
              <div class="col-md">
                <h2>
                  Faron’s One-Man fight against knife crime in London – BBC
                  London News
                </h2>
                <iframe
                  style="width:100%; height:300px"
                  src="https://www.youtube.com/embed/Y9ljP6f6Ou0"
                  frameborder="0"
                  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen
                ></iframe>
                <p>
                  Nine teenagers have so far been stabbed to death on London’s
                  streets in 2017, and it’s only June. Faron Alex Paul is trying
                  to tackle the problem on the streets of Enfield. He’s a
                  vlogger using social media to reach those who feel the need to
                  carry knives. BBC London’s Alpa Patel went to meet him.
                </p>
              </div>
              <div class="col-md">
                <h2>
                  Understanding More about Pupil Referral Units And Gang
                  Violence
                </h2>
                <iframe
                  style="width:100%; height:300px"
                  src="https://www.youtube.com/embed/9a1-P0nBZBc"
                  frameborder="0"
                  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen
                ></iframe>
                <p>
                  This documentary produced in 2012 was used as a platform to
                  voice the thoughts and feelings of pupils from troubled
                  backgrounds and some with challenging behaviour and/or
                  learning difficulties attending Pupil Referral Units (PRUs) in
                  Greater London and also as a reflection tool for staff working
                  in the sector. The interviews with these children required the
                  film crew to be patient, understanding, sympathetic and
                  tolerant.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-md-12 pt-md-5 ftco-animate">
        <div class="card flex-md-row mb-4 box-shadow h-md-250 videosCard">
          <div class="container">
            <div class="row">
              <div class="col-md">
                <h2>
                  Inside London’s Gang Violence: A Special Report From Sky News
                </h2>
                <iframe
                  style="width:100%; height:300px"
                  src="https://www.youtube.com/embed/jkJ_gJQh2Xo"
                  frameborder="0"
                  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen
                ></iframe>
                <p>
                  Young black men in London are being murdered at a rate unlike
                  anywhere else in the UK, as gang wars rage on in the capital.
                  Sky News has spent months speaking with London’s fiercest
                  gangs as part of an investigation into this year’s increase in
                  gang-related violence.
                </p>
              </div>
              <div class="col-md">
                <h2>
                  London’s Knife Crime Emergency: ON A KNIFE EDGE
                </h2>
                <iframe
                  style="width:100%; height:300px"
                  src="https://www.youtube.com/embed/C_pNlDhpbew"
                  frameborder="0"
                  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen
                ></iframe>
                <p>
                  In the wake of multiple knife-related murders in the UK’s
                  capital, activist and ex-gang member Josh Osbourne takes an
                  in-depth look at the “code of silence”. This film explores how
                  the internet has profoundly altered the way conflicts are
                  instigated and unravel on London’s streets, and how the
                  communities affected are reacting to this. As London remains
                  in the throes of a knife crime epidemic, VICE takes a look at
                  one of the most important domestic issues of our time and BLAC
                  is here to help address and implement change.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section ftco-partner">
  <div class="container">
    <div class="row">
      <div class="col-sm ftco-animate">
        <a href="#" class="partner"
          ><img
            src="../../../assets/images/Alz-logo-A-2019-2.png"
            class="img-fluid"
            alt="BLAC SPONSOR"
        /></a>
      </div>
      <div class="col-sm ftco-animate">
        <a href="#" class="partner"
          ><img
            src="../../../assets/images/Mostly-2.png"
            class="img-fluid"
            alt="BLAC SPONSOR"
        /></a>
      </div>
      <div class="col-sm ftco-animate">
        <a href="#" class="partner"
          ><img
            src="../../../assets/images/jsclogo2_PNG-400x264.png"
            class="img-fluid"
            alt="BLAC SPONSOR"
        /></a>
      </div>
      <div class="col-sm ftco-animate">
        <a href="#" class="partner"
          ><img
            src="../../../assets/images/mayamada-logo-red-2.png"
            class="img-fluid"
            alt="BLAC SPONSOR"
        /></a>
      </div>
      <div class="col-sm ftco-animate">
        <a href="#" class="partner"
          ><img
            src="../../../assets/images/SL-Charitable-Trust.png"
            class="img-fluid"
            alt="BLAC SPONSOR"
        /></a>
      </div>
    </div>
    <div class="row">
      <div class="col-sm ftco-animate">
        <a href="#" class="partner"
          ><img
            src="../../../assets/images/VCP-logo-light-400x197.png"
            class="img-fluid"
            alt="BLAC SPONSOR"
        /></a>
      </div>
      <div class="col-sm ftco-animate">
        <a href="#" class="partner"
          ><img
            src="../../../assets/images/The-Voice-Logo-400x200.png"
            class="img-fluid"
            alt="BLAC SPONSOR"
        /></a>
      </div>
      <div class="col-sm ftco-animate">
        <a href="#" class="partner"
          ><img
            src="../../../assets/images/Gangsline_Logo_2.png"
            class="img-fluid"
            alt="BLAC SPONSOR"
        /></a>
      </div>
      <div class="col-sm ftco-animate">
        <a href="#" class="partner"
          ><img
            src="../../../assets/images/ca-logo-sponsor.png"
            class="img-fluid"
            alt="BLAC SPONSOR"
        /></a>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
